[2013-06-01 16:21] 4poc opened #2 "invalid stream header: EFBFBDEF"
Got this error running TickProfiler-1.4.7-1.0.0.19.jar

[SEVERE] [TickProfiler] Failed to load class mappings
java.io.StreamCorruptedException: invalid stream header: EFBFBDEF

Probaply git messing up the file (and mappings.bin not ignored), I found this:
http://stackoverflow.com/questions/5421879/objectinputstream-happy-with-fileinputstream-not-happy-with-getresourceasstream/10686702#10686702

[2013-06-01 20:10] #2 closed, assigned to LunNova

[2013-06-16 02:21] ghost opened #3 "Feature Request: Config to change target tick rate"
Tick Threading has the feature to set a target tick rate above 20, something I find useful for testing performance. I was hoping something like that could be implemented in Tick Profiler,  that way we could do it on 1.5 as well.

[2013-07-03 02:14] dadealus opened #4 "Feature Request Permission nodes for commands"
Currently you either have to be OP or allow everyone to use the commands I would like to hand out the command to some of my mods and admins

[2013-07-03 17:33] #4 closed, assigned to LunNova

[2013-07-07 20:41] Geijoh opened #5 "Failed to instantiate class me.nallar.tickprofiler.util.contextaccess.ContextAccessReflection"
Using MCPC+ 1.5.2 b598 & TickProfiler 1.5.2 1.0.0.38

`
2013-07-07 22:39:07 [INFO] [TickProfiler] Started TickProfiler metrics reporting. This can be disabled in PluginMetrics.cfg
2013-07-07 22:40:32 [WARNING] [TickProfiler] Failed to instantiate class me.nallar.tickprofiler.util.contextaccess.ContextAccessReflection
java.lang.Error: Wrong class returned: class me.nallar.tickprofiler.util.contexta

[2013-07-08 13:52] #3 closed, assigned to LunNova

[2013-07-08 13:53] #5 closed, assigned to LunNova

[2013-11-28 06:33] CoryManson opened #8 "Ticking world entities"
Hi nallar,

Great to see you back at it! Haven't been this excited in a long time.

http://pastebin.com/hZg2eUvU

Receiving the above crash on both my Resonant Rise servers, affected level seems to be different most of the time.

[2013-11-30 14:15] #8 closed, assigned to LunNova

[2013-12-10 02:29] CoryManson opened #10 "No output from profiler"
Hello Nallar,

The profiler has stopped outputting. No errors, just no data. This appears to occur when updating Resonant Rise to 2.4.9a

http://i.imgur.com/ACVaMoV.png

[2013-12-12 06:46] helkarakse opened #11 "Feature Request: Dimension data for chunk positions"
The JSON output for chunks at present lists the chunk coordinates but does not indicate which dimension the chunk originates from. Can the dimension be added in a similar manner to which it is displayed in the single entities list?

[2013-12-12 14:38] #10 closed, assigned to LunNova

[2013-12-12 14:47] #11 closed, assigned to LunNova

[2013-12-15 21:01] Nohau opened #12 "Safe to use on 1.6.4?"
I know tickthreading isn't safe yet but is TickProfiler safe.. I have been using opis but findit extremely off compared to narrowing down issues as it shows things in  us then having a hard time believing some of the numbers i see inside it is correct at times.

[2013-12-15 23:12] #12 closed, assigned to LunNova

[2013-12-29 09:31] CoryManson opened #13 "Strange NPE causing random crash"
Had a chat to blood over at #mcportcentral about this one. He mentioned it may be profiler causing a crash on the monster tracking range.

I can't seem to easily reproduce it, appears to be completely random.

http://pastebin.com/KUN2qbQ5

[2014-01-05 12:23] LunNova opened #14 "Don't ignore Spigot in/active entities when under MCPC+"

[2014-01-05 13:51] #13 closed, assigned to LunNova

[2014-01-09 23:57] #14 closed, assigned to LunNova

[2014-01-22 05:25] CoryManson opened #16 "Profiler randomly wont save output"
See screenshot:

http://i.imgur.com/tTsyERf.png

Possibly related to the following (I'm probably crazy, but reaching for a fix on that IC2 issue)?

https://github.com/aidancbrady/Mekanism/issues/837

http://bt.industrial-craft.net/view.php?id=869

[2014-05-22 10:24] #16 closed, assigned to LunNova

[2014-06-28 16:49] Cozza38 opened #17 "Profiler possibly ticking inactive chunks again?"
Hi Nallar,

I was messing around with aperf tonight and noticed it was printing TE locations for what should have been inactive chunks.

Is it possible that inactive chunks are being ticked again since the change to cauldron? I can't remember the process we used to test that inactive chunks were being ticked.

Currently using Cauldron Build #60

[2014-09-10 11:31] CoryManson opened #20 "[1.7.10] Exception in server tick loop"
http://pastebin.com/KiB8c76V

[2014-09-10 11:42] #20 closed, assigned to LunNova

[2014-09-10 12:38] CoryManson opened #21 "[1.7.10] #33 Reporting very high TPS"
Sample output: http://pastebin.com/F2kSwhAV

[2014-09-10 12:52] #21 closed, assigned to LunNova

[2014-09-19 01:42] Slind14 opened #22 "Packet profiling"
Hey,
what was the command for the network profiling again? The tickthreading issues and the wiki got closed so I'm not able to look it up there.

[2014-12-06 17:00] Slind14 opened #23 "NPE on entity get world"
[code]

also

[code]

[2015-01-15 21:58] #23 closed

[2015-02-09 14:46] Komoden opened #26 "Add Usage guide to wiki"
Add a Wiki with information on how to use this mod, or alternatively link to somewhere else that has this information!

[2015-02-18 16:18] Komoden opened #27 "[BUG] Saving profile.txt"
From my server log (yes it's a windows machine)

[17:13:47] [TickProfiler/ERROR] [TickProfiler/]: Failed to save periodic profiling data to .\ibkiworld1710\computer\63\profile.txt
java.io.FileNotFoundException: .\ibkiworld1710\computer\63\profile.txt (The system cannot find the path specified)
    at java.io.FileOutputStream.open(Native Method) ~[?:1.7.0_71]
    at java.io.FileOutputStream.<init>(

[2015-06-22 13:20] LunNova commented on #27
Looks like a configuration error - the path you configured to save profiling data to doesn't exist.

[2015-06-22 13:20] #27 closed, assigned to LunNova

[2015-08-01 23:28] LuxusDarkangel opened #28 "New alias for /profile e"
I just wanted you to add a command with the same functionality than /profile e, because the command name is incompatible with some plugins, and disabling them each time is very annoying. Something like /tickprofiler e should work fine.

[2015-08-01 23:36] LunNova commented on #28
This feature is already part of TickProfiler.

Edit `profileCommandName` in the config file to `tickprofiler`.

[2015-08-01 23:36] #28 closed, assigned to LunNova

[2015-11-01 04:21] Zilacon opened #29 "TickProfiler officially broken on latest KCauldron"
When using the latest KCauldron build (Im using build 168) doing /profile shows this:

[code]

A fix for this would be great.

[2015-12-12 22:41] Gunner76th commented on #26
So I see this thread is now almost 6 months old, any update on when there will be a wiki on how to use the mod other than the reddit post from 2 years ago about using /profile e to profile everything?

[2015-12-12 23:37] LunNova commented on #26
I don't plan to write one currently, as I am busy with university and work. The wiki is open to public editing, so if someone else wants to that would be great.

I will still be updating the mod for newer minecraft versions when/if people request it. I don't plan to add any new features at this time.

[2016-01-02 23:09] LunNova commented on #29
KCauldron changes the type of LoadedEntityList/LoadedTileEntityList to Queue<Entity>/Queue<TileEntity>.

I'd never heard of it before, and as far as I know it's not very common. I can't think of a good way of fixing it without having to duplicate quite a bit of code. Given that it doesn't seem very popular and I don't really want to spend the time on it, I won't be fixing this.

I will accept a pu

[2016-01-03 00:17] Zilacon commented on #29
Every 1.7.10 modded server runs KCauldron nallar... Many modpacks wont even start up or run without KCauldron because of needing the most up to date FORGE which KCauldron is the only solution for.

Cauldron was discontinued, the author BloodMC is working on Sponge. KCauldron is the ONLY 1.7.10 solution for servers right now and TickProfiler is the ONLY server profiler right now.

[2016-01-03 00:32] Zilacon commented on #29
Plus KCauldron is also included in Technic server packs as well. Like BlightFall, Tekkit Legends, etc.
ATL Is basically the same thing. Not sure about FTB i tend to stay away from their packs.

[2016-01-03 12:43] LunNova commented on #29
Okay, I'll make a KCauldron specific 1.7.10 release since that's the
easiest way of fixing this.
On 3 Jan 2016 12:32 am, "Damian Fick" notifications@github.com wrote:

[2016-01-03 19:14] LunNova commented on #29
Experimental fix in 3db6fdc

Jenkins builds: http://nallar.me/buildservice/job/TickProfiler-1.7.10-KCauldron/

[2016-01-03 20:01] Zilacon commented on #29
Thanks for agreeing to fix this.
I tried this version and i get these errors:
![yhzppfd](https://cloud.githubusercontent.com/assets/3002248/12080519/c8149e2a-b211-11e5-8e7f-f6230bb9c7d1.png)

[2016-01-03 21:52] LunNova commented on #29
Could you try again with the newest build?

Also, just double checking, but definitely don't run this on a non-test server as there's a chance of bugs which screw up/wipe the TileEntity or Entity queues.

[2016-01-03 21:54] Zilacon commented on #29
I got no way of testing this other than my live server. It would take me too long to transfer my live server to my desktop or re-create my modpack server on my desktop.

At the moment im trying to deal with my network, repair 4 customer computers, refurbish about 10 more to resell, posting ads on craigslist, and getting ready to post stuff on ebay as well. I simply dont got the time to make a test

[2016-01-03 22:22] LunNova commented on #29
Can you suggest a small-ish modpack which includes a server setup using one of the newer versions of KCauldron, so I can test it?

[2016-01-03 22:24] Zilacon commented on #29
Tekkit Legends is small. But technic is down so you cant download it, they are being DDoS'd bad for the last 4 days.

You could try Agrarian Skies 2? Its a small skyblock 1.7.10 modpack on CURSE.

[2016-01-03 23:09] LunNova commented on #29
Seems to be working now, on Tekkit Legends. ![Screenshot](https://i.imgur.com/ZhOmnyY.png)

I recommend waiting until you can test it a bit (or at least having a recent world backup) in case it breaks everything, as I have only tested it for a few minutes on a 1 player world with barely anything in it.

[2016-01-03 23:42] Zilacon commented on #29
Yeah ill test it out later on a live testing server, grab a few people to hop on.
And since i got you here could you add a world whitelist to nTweaks? I have tried manually unloading the massive list of worlds through console commands by adding multiworld world unload commands to the console scheduler plugin but that keeps crashing the server. However nTweaks did not crash the server when it was u

[2016-01-04 02:29] LunNova commented on #29
I can add a whitelist, but I'm not sure why it's necessary. Worlds with any loaded chunks won't be unloaded. Do you ban/disable chunkloading items?

If there are chunkloaders but the worlds are unloading anyway then that's a bug.

[2016-01-04 02:31] Zilacon commented on #29
I do not allow chunkloaders on my servers. However the spawn world is setup as the spawning point for the server and the world is loaded along the other 13 worlds by the KCauldron server and about 1 minute later nTweaks will unload every world but Dimension 0

[2016-01-05 04:29] FiveEYZ commented on #29
how odd that it seems to be working perfectly fine for me using:

TickProfiler-1.7.10.40
along with
KCauldron Version: pw.prok:KCauldron:1.7.10-1566.UNOFFICIAL

modpack: FTB Infinity Evolved 2.2.2

![3a5ad42f29d1a82166cad9dcd955cf25](https://cloud.githubusercontent.com/assets/9557442/12107569/194f5af8-b36d-11e5-9984-c34fff2a8b95.png)

[2016-01-05 05:05] Zilacon commented on #29
This issue report was made in Oct 31st, you are using a build from December which was just recently released. There might have been something that changed in KC from oct to dec. Either way even nallar said it was not built to work with KCauldron so patching it to be compatible with it is still good either way.

[2016-01-05 10:45] LunNova commented on #29
KCauldron _did_ need some different behaviour if you were running a build after [this commit.](https://gitlab.prok.pw/KCauldron/KCauldron/commit/9ba84893f398793dcaee8613bcb2f16238933835)

Those changes just got reverted in [this commit](https://gitlab.prok.pw/KCauldron/KCauldron/commit/f722fccdcea1a0faec61c1bd72d5dd56b0c17c14). 10/10: the day I get around to fixing it, the changes which broke it g

[2016-01-05 11:09] LunNova commented on #29
Closing this as:
- The fix in the special branch seemed to work
- It's no longer relevant as KCauldron just reverted the change which caused this issue. Any build after 1.7.10-1614.170 doesn't need the special branch.

[2016-01-05 11:09] #29 closed, assigned to LunNova

[2016-01-08 00:39] Slind14 opened #30 "[Question] Whats the kcauldron version for?"
Hey,

I have been using the normal forge version without any issues with kcauldron. Might I ask what the branch aims to fix/improve?

[2016-01-08 00:43] LunNova commented on #30
See [#29](https://github.com/nallar/TickProfiler/issues/29#issuecomment-168973520).

TL;DR: Needed compatibility branch due to KCauldron change, KCauldron reverted the change, not needed any more.

[2016-01-08 00:43] #30 closed, assigned to LunNova

[2016-01-08 00:44] Slind14 commented on #30
ahh, we went ahead from the official kcauldron and didn't cherry pick that change :)
I guess the branch can be removed or the description adjusted to avoid confusion.

[2016-01-08 00:48] LunNova commented on #30
Okay, I've disabled and added a message to that branch on jenkins.

[2016-01-13 17:06] LunNova opened #31 "Fix version in mcmod.info"
Currently it's set as `@MC_VERSION@` instead of an actual value in releases.

[2016-01-14 18:59] LunNova commented on #31
Fixed in 963826266297f89e4

[2016-01-14 18:59] #31 closed, assigned to LunNova

[2016-01-16 15:02] Gunner76th commented on #26
So the usage information in MC 1.7.10 returns this information: Usage: /profile [e/(c [chunk x] [chunk z])] [time=30] [dimensionid=all]

However, when I try to tell it to run in just a specific dimension, it runs in all worlds for 30 secs as if I only typed /profile. I have tried /profile e dimensionid=-112, /profile c dimensionid=-112, /profile dimensionid=-112, /profile [dimensionid=-112], /prof

[2016-01-16 15:15] LunNova commented on #26
The help message is somewhat unclear.

`/profile [e/(c [chunk x] [chunk z])] [time=30] [dimensionid=all]`

`/profile e [time=30] [dimensionid=all]`

`/profile e 30 [dimensionid=all]`

`/profile e 30 1`

Is what it's supposed to mean.

[2016-01-16 15:25] Gunner76th commented on #26
ahh thanks for the update

[2016-01-18 17:07] ProsperCraft opened #32 "Tickprofiler KCauldron Edition"
We are having this console spam with the KCauldron edition using Kcauldron when we run /profile e
http://pastebin.com/UnvRzA7d

[2016-01-18 17:19] LunNova commented on #32
What versions of TP and KCauldron are you using?

On current KCauldron builds, using the standard 1.7.10 release should work.
Does it work, but give the console spam? Or completely broken?

[2016-01-18 17:25] ProsperCraft commented on #32
TickProfiler-1.7.10.1.jar  (kcauldron edition)
This server is running Cauldron version 1.7.10-1566.UNOFFICIAL (MC: 1.7.10) (Implementing API version 1.7.10-R0.1-SNAPSHOT)

Also as a sidebar, I loved your tickthreading, it was amazing, you are a genius!

[2016-01-18 17:27] ProsperCraft commented on #32
Just installed the non KCauldron version and it works fine like the old one did.

[2016-01-18 17:30] LunNova commented on #32
Great.

I've added the warning notice on Jenkins again. Looks like the multi-branch plugin is removing the description when it syncs branches. Need to get it to stay, or maybe just delete that branch.

[code]

[2016-01-18 17:30] #32 closed, assigned to LunNova

[2016-02-06 13:10] LunNova opened #33 "Hook breaks with Thermos loadedTileEntityList cleanup"
TCPR/Thermos/issues/52

Not sure exactly what the problem is.

[2016-02-06 13:15] LunNova commented on #33
Reports of KCauldron + TickProfiler causing entities to stop ticking.

I don't know which builds of either mod are being used. I have not received any reports here of the issue :/

[2016-02-06 14:46] LunNova commented on #33
Triggering this issue would result in this error:

[code]

[2016-02-06 15:07] LunNova commented on #33
Issue only occurs with Thermos, not KCauldron.

I will resolve this by dropping the hooking via entity lists and using a less fragile implementation with ModPatcher.

[2016-02-06 22:04] LunNova commented on #33
Fixed in 616fb949ea2e9c1484dff

[2016-02-06 22:04] #33 closed, assigned to LunNova

[2016-02-07 16:04] LunNova commented on #22
Partially implemented in 616fb949ea2e

It currently only works for detecting packets sent to clients who connect to your client while it's in LAN mode. Not very useful!

[2016-02-07 16:37] LunNova commented on #22
Actually it might work fine, will test shortly.

[2016-02-07 18:34] Noire86 opened #34 "Profile command is not working"
Sending this on using command "profile":

java.lang.IndexOutOfBoundsException: Index: 0, Size: 0
        at java.util.ArrayList.rangeCheck(Unknown Source) ~[?:1.8.0_71]
        at java.util.ArrayList.get(Unknown Source) ~[?:1.8.0_71]
        at nallar.tickprofiler.minecraft.commands.ProfileCommand.process(ProfileCommand.java:42) ~[ProfileCommand.class:?]
        at nallar.tickprofiler.minecraft.co

[2016-02-07 18:43] LunNova commented on #34
Thanks for the report.

I recently refactored the profiling command handler to simplify it, and managed to break it so it crashed instead of showing the usage message if you didn't pass any arguments.

Fixed in build 12 on jenkin/commit d6b916ff2f82aa5f6

[2016-02-07 18:43] #34 closed, assigned to LunNova

[2016-02-07 18:48] Noire86 commented on #34
Thanks!

[2016-02-07 21:01] Noire86 opened #35 "Command is not working (Again)"
Using build 12 from jenkins:

profile -e

java.lang.RuntimeException
        at nallar.tickprofiler.minecraft.commands.ProfileCommand.process(ProfileCommand.java:47) ~[ProfileCommand.class:?]
        at nallar.tickprofiler.minecraft.commands.ProfileCommand.processCommand(ProfileCommand.java:32) ~[ProfileCommand.class:?]
        at nallar.tickprofiler.minecraft.commands.Command.func_71515_b(Command

[2016-02-07 21:38] LunNova commented on #35
It's just `/profile e`, not `/profile -e`.

It should've shown you the usage, not crashed.

[2016-02-07 22:05] LunNova commented on #35
Fixed in bcaacb406bc70ce. Bug introduced by the same refactoring as the last issue (#34).

[2016-02-07 22:05] #35 closed, assigned to LunNova

[2016-02-08 12:36] LunNova commented on #17
@Cozza38 I wasn't able to replicate the issue initially, but during recent re-engineering fixed a possible cause.

Can you confirm if it's still a problem on new builds?

[2016-02-08 13:44] CoryManson commented on #17
Hi mate,

I'm not doing much in the MC space anymore but I've pinged my staff team to take a look

[2016-02-15 18:38] LunNova opened #36 "Lag spike profiling dumps too much information"
A full thread dump is unnecessarily complex.

Add a configuration option to dump only the server thread which is on by default.

[2016-02-15 21:25] LunNova commented on #36
Fixed by 166bf0a4bc112498ed

@iKaneki-Ken

[2016-02-15 21:25] #36 closed, assigned to LunNova

[2016-02-16 00:51] ghost opened #37 "Tiny issue"
TickProfiler fails to load up and throws that error.

http://pastebin.com/WVuqef7D

[2016-02-16 01:14] LunNova commented on #37
Let me guess... @Robotia still hasn't removed the check which disables TickProfiler? :P

That error will happen if the CoreMod part of TP loads but the Mod doesn't. I saw it before when I forgot to add `-Dthermos.tickprofiler.disable=false`.

[2016-02-16 01:50] ghost commented on #37
Ah, shit, no he didn't. My bad, I should've went there first.

[2016-02-16 01:50] sameer commented on #37
WOOPS doing that right now

[2016-02-16 01:58] LunNova commented on #37
Closed by TCPR/Thermos@692abef9f4930edac.

[2016-02-16 01:58] #37 closed, assigned to LunNova

[2016-02-18 19:17] LunNova commented on #17
That's fine :) I'll close it given the lack of response as it should be fixed after that change.

Sorry if I incorrectly closed it originally.

[2016-02-18 19:17] #17 closed

[2016-02-25 09:41] KasperFranz opened #38 "Permissions"
Is it possible to add the ability to have permissions so it is possible to give admins (there doesn't have OP) access to profile commands :)

[2016-02-25 17:50] LunNova commented on #38
Which permissions system are you using?

[2016-02-25 17:57] KasperFranz commented on #38
Permission x
But an implementation should be the same :)
This is regarding the 1.7 version

Den 25/02/2016 6.50 PM skrev Ross Allan notifications@github.com:

Which permissions system are you using?

—
Reply to this email directly or view it on GitHub.

[2016-02-25 18:14] LunNova commented on #38
If you're using KCauldron that should already work. There will be a log message during startup (part of cauldron) which indicates the node it has assigned a node to the command. For example:

[code]

[2016-02-25 18:20] KasperFranz commented on #38
Oh I didn't even know that,  that's quite nice,  thank you :)

[2016-02-25 18:22] #38 closed, assigned to LunNova

[2016-02-27 03:55] kittykiller opened #39 "Classloading crash during startup"
http://pastebin.com/mLce6aNN

[2016-02-27 11:07] LunNova commented on #39
Diagnosing classloading issues can be a massive pain.

It would be really helpful if you could upload a zip of your server folder for me to test with. Failing that, what modpack are you using?

[2016-02-27 13:20] kittykiller commented on #39
It seems to be an issue with Forge Essentials. http://ci.forgeessentials.com/job/FE/

My server file is ~35GB so that might not be a good idea lol.

Modpack is https://www.atlauncher.com/pack/DNSTechpack/

[2016-02-27 13:27] kittykiller commented on #39
If this help "TickProfiler-1.7.10.jenkins.5" works but any version after that doesn't.

[2016-02-27 13:41] LunNova commented on #39
Oh, not including the worlds - just mods/configs/server jars/libraries.

Afraid not - after that version I swapped to a new hook system which uses ModPatcher instead of doing hacky things with the tileentity/entity lists. That doesn't really narrow it down much.

[2016-02-27 14:01] kittykiller commented on #39
https://dl.dropboxusercontent.com/u/664153/server1.7z

[2016-02-27 14:36] LunNova commented on #39
Possible fix in TickProfiler build 27. [ModPatcher/31814177](https://github.com/nallar/ModPatcher/commit/3181417764819ed5bf9ff495171cd2d05c422e08)

[2016-02-29 13:02] #39 closed, assigned to LunNova

[2016-03-04 10:06] LunNova opened #40 "Packet profiling hook isn't added when using Thermos"
report from Rubbertjuh:

[code]

[2016-03-05 00:18] LunNova opened #41 "Packet profiling hook needs updated for 1.8.9+"

[2016-03-14 18:37] ProsperCraft opened #42 "1.7.10 build 29 startup trace"
http://pastebin.com/QRZp1zC4

I get this when loading in, but the profile still seems to be working.  Thought you might want to see it.

[2016-03-15 12:57] LunNova commented on #42
Duplicate of #40.

[2016-03-15 12:57] #42 closed, assigned to LunNova

[2016-03-15 12:58] LunNova commented on #40
Will cause `/profile p` to give no results.

[2016-03-17 18:37] LunNova opened #43 "BetterFPS causes patching to crash"
It does something weird.

[code]

[2016-03-17 18:37] LunNova opened #44 "Block update profiling"
We should keep track of the number of block update and TE updates being sent out.

High numbers will cause higher CPU load on both client (resulting in lower FPS) and server, and also increased number of packets being sent.

[2016-04-20 19:25] Yann151924 opened #45 "When profiling the command show nothing"
Hi,

I have an issue when i try to profile my world, tickprofiler show only tps :

![](https://images-1.discordapp.net/eyJ1cmwiOiJodHRwOi8vaS5pbWd1ci5jb20vUGdYSWs1VC5qcGcifQ.cOMhqWMcAWxUdw8PgYP4IIfn8Es.jpg)

And i found and error when i start the server :

http://pastebin.com/x2xGp4V3

For information i use :
Modpack : realm of mianite
Server : Thermos-1.7.10-1614-53

[2016-04-21 16:50] Yann151924 commented on #45
Duplicate of #43

[2016-04-21 16:50] #45 closed, assigned to nobody

[2016-06-02 19:09] Brend-Smits opened #46 "profile c command broken"
I'm standing in a chunk full of ticking bluepower items and it doesn't see them as Tile entities.
https://gyazo.com/7890a4713483fbc8e546e4480d86f5f4

Running Tekkit Legends modpack if it matters.
Running version: TickProfiler-1.7.10.jenkins.29.jar

[2016-06-19 15:46] ghost opened #47 "Tickprofiler #26 Not working on Sponge for 1.8.9"
Hello Nallar!

The title is a short description but below are the specifics:

Forge Version: forge-1.8.9-11.15.1.1902-1.8.9-universal
Sponge Version: spongeforge-1.8.9-1890-4.2.0-BETA-1443
Tickprofiler Version:TickProfiler-1.8.9.jenkins.24

Sample Image: http://i.imgur.com/EkW94eS.png

Log: http://pastebin.com/ZWnSG6X9

Please let me know if you need anything else! :)

[2016-06-22 15:29] LunNova commented on #47
Should be fixed in commit f70e8996ee67271e060.

Can you grab the latest TickProfiler build and confirm? Thanks

[2016-06-25 15:10] helkarakse commented on #47
Hi there Nallar, we're currently on latest TickProfiler build 32 and we're still not getting any results in the entity list. There are no errors reported by forge/sponge in the logs.

http://i.imgur.com/XLvwyVJ.png

[2016-06-25 15:49] LunNova commented on #47
Can you upload `fml-server-latest.log`? I'm specifically interested in any lines including `[ModPatcher/]`, but the entire log may be useful.

[2016-06-25 15:52] helkarakse commented on #47
It's certainly running the updated version of ModPatcher, v90 I believe. The log file is far too large to post on pastebin, so here it is on our download section: http://atlas.otegamers.com/pioneers-fml-server-latest.log

[2016-06-25 16:27] LunNova commented on #47
The ModPatcher version is okay. I'm not sure why that hasn't worked.

The lines:

[code]

Show up in your log, so the patches appear to be applying correctly.

Can you try the latest TickProfiler again (now .35), and add the following to your server launch options before the `-jar`:

`-Dnallar.LaunchClassLoaderUtil.dumpTransformers=true -Dnallar.ModPatcher.dump=true`

This will cause it to log the

[2016-06-25 17:17] helkarakse commented on #47
Hey, sorry it took a while to get back to you. The two files are here: http://atlas.otegamers.com/net.minecraft.world.WorldServer.class and http://atlas.otegamers.com/net.minecraft.world.WorldServer_unpatched.class

[2016-06-25 17:24] LunNova commented on #47
Good news, [it looks patched correctly.](https://gist.github.com/nallar/c24c9dec03db8c4fddbe822066ffee88)

Bad news, I have no idea why it's not working. :( You do actually have loaded and ticking entities when you're running it?

If there aren't any players online there's no guarantee anything's actually running due to sponge's activation range settings.

[2016-06-25 17:24] helkarakse commented on #47
Haha, you know what. I forgot about that. Let me get on and run the command in person, sorry.

Edit:

Looks like it's working perfectly now. http://i.imgur.com/OLcfJhU.png. Do you want to release another build that doesn't have the DUMP folder, or will removing the java parameters prevent the DUMP folder from being created?

[2016-06-25 18:34] LunNova commented on #47
Remove the parameters and delete the folder, no need for a new build. Are you with the same group as @AuricPolaris and I can close this issue now?

[2016-06-25 18:35] helkarakse commented on #47
Yes I am. You can close the issue. Thanks for the help Nallar.

[2016-06-25 18:35] #47 closed, assigned to LunNova

[2016-06-25 18:40] LunNova commented on #46
Sorry about the late fix on this one. I said I'd fix it over the weekend in Discord chat when you first made it, but I became quite ill and forgot about it.

:(

edit: and I'm a derp. Fixed it for 1.8.9 but not in 1.7.10, will do that soon.

edit 2: Fixed in 1.7.10 branch now.

[2016-06-25 18:42] #46 closed, assigned to LunNova

[2016-06-25 18:45] LunNova commented on #43
This should be resolved in 1.8.9 releases, not that that helps here.

[2016-06-26 18:09] LunNova opened #48 "Chunk loading profiling"
We should be able to determine how many chunks are being loaded in a way which blocks the main thread instead of going through async loading.

Ideally 0, but it's easy to accidentally load chunks so we can expect to see high numbers in some scenarios.

May be advisable to determine the mod at fault, if possible. Possibly using nallar/WhoCalled to determine that.

[2016-06-26 18:10] LunNova commented on #22
Seems fine here, assuming fixed.

[2016-06-26 18:10] #22 closed

[2016-06-26 18:10] LunNova commented on #43
I'm not really interested in further work on 1.7.10 for issues like this which will impact a small number of people. Most users of TickProfiler will be servers, and they can't even run that mod.

[2016-06-26 18:10] #43 closed, assigned to LunNova

[2016-06-26 18:11] LunNova commented on #41
Also for 1.10. It's likely the same change will fix both, as I don't believe any changes between 1.8.9 and 1.10 occurred which would conflict.

[2016-06-26 23:28] Slind14 commented on #22
ahh cool, will there be a backport to 1.7.10? Not really sure how to understand it being on 1.10 branch but noting thermos in the description.

[2016-06-27 05:36] helkarakse opened #49 "1.9 Support?"
I don't suppose you have a 1.9 support branch?

[2016-06-27 11:01] LunNova commented on #49
The 1.10 version should be compatible with 1.9.

It might refuse to run due to version numbers not matching so there probably will need to be yet another branch. :/

edit: I was sort of hoping to skip 1.9 since it's really easy to update mods from 1.9 to 1.10. I can add another branch for it, but are you sure you can't move up to 1.10?

[2016-06-27 11:46] LunNova commented on #29
I will delete the kcauldron specific builds tomorrow to tidy up jenkins, unless someone objects.

The kcauldron specific code will still be available under tag 1.7.10-kcauldron (commit: 9aaebe383ee) in case someone needs it.

edit: And it's gone.

[2016-06-27 14:15] helkarakse commented on #49
I'll give it a try and let you know.

Edit: I only just read the second part. There isn't much out there yet for 1.10. I suppose we could wait, but in the mean time I'll try out 1.10 on the 1.9 server.

[2016-06-27 14:18] helkarakse commented on #49
http://i.imgur.com/8byO50O.png Looks like that's a negative, sorry.

[2016-06-27 19:37] LunNova commented on #49
There's now a 1.9.4 release: https://jenkins.nallar.me/job/TickProfiler/branch/1.9.4/

[2016-06-27 19:37] #49 closed, assigned to LunNova

[2016-07-05 22:15] LuxusDarkangel opened #50 "[1.9.4] Profile command shows no results."
Log: https://gist.github.com/LuxusDarkangel/0273e8faf7b2a89811533ad6d7c20563

Happens in pure Forge and using SpongeForge.

[2016-07-05 22:19] LunNova commented on #50
Working fine here. About 90% sure it's because you tested with no users online and waited a while before testing.

Entities stop getting ticked after 1200 ticks if no-one's online and there are no forced chunks.

[2016-07-05 22:29] LuxusDarkangel commented on #50
In this case you're totally right, but the issue is still there. I tested it first in-game using SpongeForge, and then proceeded to test it in a pure Forge server using only the console, as shown in the log, to make sure it wasn't a Sponge issue. It is, If you install latest SpongeForge version for 1.9.4, it doesn't display profiling results even while being in-game and making sure entities are ge

[2016-07-05 22:42] LunNova commented on #50
So it's working fine with just forge, only an issue with sponge? I made a silly commit just then which probably doesn't actually fix it. Looks like some sort of mappings issue:

With Sponge:

[code]

Going to sleep now, need to get up early tomorrow so staying up to fix this is a bad idea.

[2016-07-05 22:44] LuxusDarkangel commented on #50
Yeah, it's not fixed yet. We'll see tomorrow then.

[2016-07-06 08:18] LunNova commented on #50
Sponge patching of updateEntities has changed to https://github.com/SpongePowered/SpongeCommon/blob/1.9.4/src/main/java/org/spongepowered/common/mixin/core/world/MixinWorld.java#L812

May be able to fix this by **removing** the sponge-specific patch. Unexpected, but nice.

[2016-07-06 08:27] LunNova commented on #50
Can you confirm if that fix worked in 1.9.4 build 4?

edit: Marking as 1.10 as this change will also apply to future sponge releases on 1.10.

[2016-07-06 11:50] LuxusDarkangel commented on #50
Yes, it worked.

Guess the same issue will happen with 1.10, but I don't have time to test it right now, will do later.

[2016-07-07 12:12] LunNova commented on #50
Thanks, fix also in 1.10 branch now.

[2016-07-07 12:12] #50 closed, assigned to nobody

[2016-07-14 19:52] AfterRebelion opened #51 "Minecraft 1.10.2 Support"
Mod won't load on forge for 1.10.2

[main/ERROR] [FML/]: The coremod nallar.tickprofiler.minecraft.CoreMod is requesting minecraft version 1.10 and minecraft is 1.10.2. It will be ignored.

[2016-07-14 19:55] LunNova commented on #51
The inability to supply a range of acceptable versions for coremods is annoying. The only options are to support everything and get a warning in the logs, or to support one exact version string.

:/

I'll make a 1.10.2 branch.

[2016-07-14 20:01] LunNova commented on #51
1.10.2 branch up, build on Jenkins. Haven't tested it, busy right now. Does it work?

[2016-07-14 20:16] AfterRebelion commented on #51
It works now, thanks!

[2016-07-14 20:19] #51 closed, assigned to LunNova

[2016-07-17 20:16] ghost opened #52 "Incompatibility with Thermos and TickProfiler tile entity listings"
Hello Nallar,

When using the latest build of Thermos (Version 57), we experience a rather bizarre bug in which tile entities will stop working after about 2 minutes of the world loading. They will halt all function and only work when the chunk is loaded/unloaded for about two minutes. Upon removing Tickprofiler, they no longer had this issue. [Thermos build version 56](https://github.com/Cyberdyn

[2016-07-17 20:39] LunNova commented on #52
??? Where did you get that? That's not a version which is on the build service.

This should work fine, grab the latest version.

[2016-07-17 20:39] #52 closed, assigned to LunNova

[2016-07-17 20:40] LunNova commented on #52
Oh, it is a real version. Just from 25-Sep-2014 13:33 when the build service version numbers were different.

Reporting bugs while using a 2 year old build = :/

[2016-07-17 21:30] ghost commented on #52
I am sorry, I don't have words for my stupidity. Have a good day.

[2016-07-17 21:32] LunNova commented on #52
It's okay. Mistakes happen.

On 17 Jul 2016 22:30, "Auric" notifications@github.com wrote:

[2016-08-12 13:00] jarredr commented on #26
I've added a basic usage guide to the wiki. If anyone wants to clean it up or improve it you're welcome to.

[2016-08-26 16:09] BlayzerQ opened #53 "Crash NoClassDefFoundError: org/json/JSONException"
Thermos, 1.7.10. TickProfiler 32 build.

 java.lang.reflect.InvocationTargetException
    at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
    at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
    at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
    at java.lang.reflect.Method.invoke(Method.java:498)
    at cpw.mo

[2016-08-26 17:24] LunNova commented on #53
`org/json/JSONException.class` is present in `TickProfiler-1.7.10.jenkins.32.jar`, so that error is quite odd.

Can you try downloading the jar again? I suspect it might be a corrupt jar. The size should be `2,564,161` bytes and the md5 hash should be `aaa1ff0ca46dde989268db29bc0a9cc8`.

Failing that, if another mod or library you are using contains an invalid `org.json.JSONException` or a coremod

[2016-08-26 17:31] BlayzerQ commented on #53
MD5 correct: http://ssmaker.ru/ec3c0eba.png
i`am download this file again, crash still.

[2016-08-26 17:52] LunNova commented on #53
Can you link to the modpack you're using, if it's public?

[2016-08-26 17:58] BlayzerQ commented on #53
This is my modpak, I collected it myself (I can give this modpack (Server side, if this need)).
I early used version 39 (2014 year), but in a thermos with him there were problems. I decided to update events, but here this problem.

[2016-08-26 17:59] BlayzerQ commented on #53
I have 3 modpacks, on 3 of them this problem. I think that the problem is related to the server core (Thermos).

[2016-08-26 19:25] LunNova commented on #53
Launching with `Thermos-1.7.10-1614-server.jar` doesn't run into that error for me.

What thermos version are you using?

Can you run `grep -ri org/json/jsonexception mods` and see if it finds any files other than TickProfiler? It'll list any mods containing that class. Maybe there is another mod you're using which contains its own version of that class. Could also try `grep -ri org/json/jsonexcep

[2016-08-26 19:45] BlayzerQ commented on #53
I`am use Thermos-1.7.10-1614 (56 build)
grep say:
Binary file mods/1.7.10/TickProfiler-1.7.10.jenkins.32.jar matches
nothing else. At the libraries nothing.

[2016-08-27 09:00] LunNova commented on #53
I wasn't able to replicate the issue, but I've tried a possible fix in TickProfiler build 33: https://github.com/nallar/ModPatcher/commit/cf7776b323a2741dd3ac25d0060e6ce3c0054cd3

[2016-08-27 11:10] BlayzerQ commented on #53
It did not help :(

[2016-08-27 11:16] BlayzerQ commented on #53
I deleted all mods except TickProfiler.
Crash. I'll try to redownload the server core.

[2016-08-27 11:32] BlayzerQ commented on #53
Oook, i download latest Thermos build (58), redownload libraries and core.
All works!

[2016-08-27 11:33] LunNova commented on #53
Okay, I'll close this. Not sure why it wasn't working but it is now so it doesn't matter! :)

[2016-08-27 11:33] #53 closed, assigned to LunNova

[2016-08-27 12:12] BlayzerQ opened #54 "/profile e - show nothing"
When i use /profile e, after 30 seconds profile show nothing.
http://ssmaker.ru/1300aca6.png

Thermos, 1.7.10. Last build Thermos and TickProfiler.

[2016-08-27 12:23] BlayzerQ commented on #54
On server start, at log:
[14:58:01] [main/INFO] [JavaPatcher/]: me.nallar.javapatcher.patcher.Patcher$ClassPatchDescriptor@1d6f523
[14:58:01] [main/ERROR] [JavaPatcher/]: Error patching func_72939_s in net.minecraft.world.World with insertCodeBefore
java.lang.RuntimeException: java.io.EOFException
    at javassist.CtClassType.getClassFile2(CtClassType.java:205) ~[CtClassType.class:?]
    at javass

[2016-08-28 18:53] LunNova commented on #54
A similar issue to #43. I'll need to backport those changes in ModPatcher for 1.7.10 to fix it.

[2016-08-28 19:41] BlayzerQ commented on #54
That is, it is not to fix?

[2016-08-28 19:44] LunNova commented on #54
I will fix it, when I have time.

[2016-08-28 19:47] BlayzerQ commented on #54
Ok, Thanks!

[2016-09-02 08:55] LunNova commented on #54
https://github.com/nallar/ModPatcher/commit/86fa197856182c8efd9afec0f8de01a3dfbaa121 should fix it.

It's in build 34.

[2016-09-03 22:07] BlayzerQ commented on #54
[01:05:37] [main/ERROR] [LaunchWrapper/]: Unable to launch
java.lang.RuntimeException: java.lang.IllegalStateException
    at cpw.mods.fml.relauncher.CoreModManager$FMLPluginWrapper.injectIntoClassLoader(CoreModManager.java:138) ~[Thermos.jar:1.7.10-1614.58]
    at net.minecraft.launchwrapper.Launch.launch(Launch.java:115) [launchwrapper-1.12.jar:?]
    at net.minecraft.launchwrapper.Launch.main(L

[2016-09-04 10:34] LunNova commented on #54
Another attempt in build 35. https://github.com/nallar/ModPatcher/commit/fd34e6d42b5d9de3edf3b4c4e5b1dee0057a2ea6

[2016-09-04 13:04] BlayzerQ commented on #54
All right! It works. Thanks!

[2016-09-04 16:39] #54 closed, assigned to LunNova

[2016-09-07 16:04] DreiPixel opened #55 "/profile e shows no results"
hello there, im trying to use the TickProfiler but the Result screen is empty

our server is using Minecraft 1.10.2 and Forge 12.18.1.2076

if you need more information tell me

[2016-09-07 16:06] LunNova commented on #55
Please upload your FML log file.

Also, make sure you are running /profile e while at least one user is online. It may report nothing if no users are online, as the world isn't ticked after a while with no users and no forced chunks.

[2016-09-07 16:35] DreiPixel commented on #55
i used the command while we had some players on the server and we use server sided chunkloader for chunkloading.

[2016-09-07 16:36] DreiPixel commented on #55
https://www.dropbox.com/s/87s9vml00kbzwhv/fml-server-latest.log?dl=0 heres the log file

[2016-09-07 16:37] LunNova commented on #55
Cause:

[code]

Will fix in a few hours, at work right now.

[2016-09-07 19:43] #55 closed, assigned to nobody

[2016-09-20 05:22] origamerpro commented on #40
http://pastebin.com/HQ08hmaR - Thermos 58 1664

[2016-10-11 04:30] DoomRater commented on #26
How about documentation on the /dump command?  It's there in the code but reading it didn't quite tell me what it's for.

[2016-10-17 06:59] AussieWarGod opened #56 "sponge 1.10.2?"
any chance of getting this ported to sponge 1.10.2?

[2016-10-17 07:12] LunNova commented on #56
What's broken with Sponge?

[2016-10-17 19:13] AussieWarGod commented on #56
My bad, i hadnt realised it was already compatible xD

In fact, it is already on the server i was looking at it for.

I'm just shopping around for extensive tick profilers as 1.10.2 is goving us issues and we are trying to locate the issue.

Sorry about that =^_^=

[2016-10-17 19:31] #56 closed, assigned to nobody

[2016-10-30 01:35] AussieWarGod opened #57 "Profile only picking up only mobs/entities"
We are running Tickprofiler on a Hermitpack server and are finding that it doesn't pick up on laggy blocks at all for some reason.

provided are a Sponge timing report and a profile for reference, taken at the same time.

https://timings.aikar.co/v2/?id=e91dc6eec42e48d28e8f120ea3ec9bb0

http://i.imgur.com/oSEyqaO.png
http://i.imgur.com/GiOpd06.png

[2016-10-30 09:41] LunNova commented on #57
Please upload a log file, not enough info there to determine the cause

[2016-10-31 07:43] AussieWarGod commented on #57
Going through the logs i see nothing of use, is there a debug mode i could use to get more info?

the best i can give you is that it lags the server a bit when a profile is run, but that is normal and happens on our 1.7.10 servers as well.

What i have noticed is the only things it shows are vanilla mobs/item entities on the ground, whether the tps is at 20 or 0.4.

As you can see via the provided

[2016-10-31 13:33] LunNova commented on #57
Post the full logs. Don't look at them yourself.

(if I ask for logs, this means I need the logs. Replying with other unrelated information is not actually helpful.)

[2016-11-01 10:42] AussieWarGod commented on #57
Log, as requested, this was at the time of my running the profile and sponge timings provided above. I did warn you it's contents are less than useful. I did ask if there was some sort of debugging mode i could use.

to clarify, tickprofiler doesn't say anything is wrong with it or throw errors, it just doesn't seem to pick up non-vanilla blocks or entities.

http://pastebin.com/TWBdM63g

[2016-11-01 10:44] AussieWarGod commented on #57
if you can let me know a way i can provide more detail, or if there is any more information you need please let me know and i will provide it to you ASAP.

I looked through sponge configs and server properties and could find nothing that might make the log files more detailed.

[2016-11-01 11:21] LunNova commented on #57
Your log file's missing any [TickProfiler] or [ModPatcher] entries. Make sure you got the right file - fml-server-latest.log or fml-server-x.log would be appropriate, a console log or other log doesn't include everything.

If that was the FML log, it's messed up and missing most non-vanilla entries for some reason.

[2016-11-02 10:19] AussieWarGod commented on #57
Timing report
https://timings.aikar.co/v2/?id=831515574b4c472e8f481caaabd75c22

Profile
http://i.imgur.com/KAhjOaU.png
http://i.imgur.com/malNh6H.png

Full FML Log
[fml-server-latest.txt](https://github.com/nallar/TickProfiler/files/566248/fml-server-latest.txt)

[2016-11-02 10:23] AussieWarGod commented on #57
the profile should be towards the end of the logs, i pulled it shortly after i ran the profile and the timing report.

tps is almost 20 obviously so it's not the ideal situation for a demonstration but you can easily see the differences between timings from the first timings/screenshots i posted.

Sorry about the late replies, i work a lot and the timezone difference makes it difficult

[2016-11-02 14:40] LunNova commented on #57
Looks like the problem is an interaction between Sponge's mixin system and ModPatcher.

Their transformer tries its hardest to be the last transformer to run. Unfortunately this means applying a patch after their patches is impossible. I had a workaround for it but it looks like something's changed and that's no longer working correctly, either due to a Sponge change or an interaction between some

[2016-11-02 20:43] axle2005 commented on #57
[fml-server-3.txt](https://github.com/nallar/TickProfiler/files/567632/fml-server-3.txt)
This was loaded with those parameter's, not really seeing much different between it and another, so hopefully thats what you were looking for.

[2016-11-02 21:07] LunNova commented on #57
[code]

Good news: Confirms the problem isn't with making sure our transformer runs after the mixin transformer, that part worked correctly. So it's not a transformer order issue! :)

Bad news: That means I'm not sure what's broken.

Busy right now due to the aftermath of a house move, I'll hopefully have time to investigate more thoroughly on Hermitpack with Sponge soon.

[2016-11-03 02:47] AussieWarGod commented on #57
Should i run the same on our RR4 test server to see if we get the same results

[2016-11-06 20:57] AussieWarGod commented on #57
Can confirm this issue persists over modpacks,
Infinity Lite
Resonant Rise 4
Infinity Lite

Are all affected so far

[2016-11-08 02:22] dvhaldane opened #58 "nallar.me is down :("
Hi nallar,

Your build server appears to be down.  Is this something temporary or am I going to have to try and live my life without the glory of nallar :(

https://jenkins.nallar.me/job/TickProfiler/

[2016-11-08 13:51] dvhaldane commented on #58
As of this morning it is now back up.  Thank you!

[2016-11-09 00:42] dvhaldane commented on #58
Got home from work to complete the build and It appears the site is back down again.

[2016-11-11 16:48] LunNova commented on #58
It's up now, and should stay up.

Was up and down a lot over the past two weeks due to moving house and rewiring and stuff.

![this is dumb](https://cloud.githubusercontent.com/assets/782440/20222745/6b5cc928-a82e-11e6-82d5-931f44e9b9a6.png)

![this is still dumb](https://cloud.githubusercontent.com/assets/782440/20222755/71830510-a82e-11e6-9426-b1035a2f2737.png)

![srsly](https://cloud.githubuser

[2016-11-12 13:18] dvhaldane commented on #58
@nallar Thanks for the update and for the help. Nice box as well! All you need now is Google Fiber :)

Good luck with your move and glad you're not disappearing!

[2016-11-12 13:18] #58 closed, assigned to nobody

[2016-11-15 09:18] AussieWarGod commented on #57
DireWolf 1.10 is also affected.

At this point i can guarantee this is a sponge issue, any luck finding the cause?

[2016-12-06 07:57] AussieWarGod commented on #57
any news on this nallar?

[2016-12-06 13:52] #57 closed, assigned to LunNova

[2016-12-06 13:59] LunNova commented on #57
Should be fixed in `TickProfiler-1.10.2.jenkins.13`. Tested with `spongeforge-1.10.2-2171-5.1.0-BETA-1963.jar` and `forge-1.10.2-12.18.3.2185-universal.jar`.

[2017-01-09 20:22] Y0ungSandwich opened #59 "Permission node?"
Is their a permission node to add? Using Luckperms with sponge. Cant run any commands in game which doesn't help much.

[2017-01-17 23:55] LunNova opened #60 "Transformer overwriting/ignoring sponge changes to World"
Discussion on espernet #sponge with @Aaron1011 - something's broken, not sure what.

TP with RR4 modpack + sponge = crash, sponge's mixin's don't apply to net.minecraft.World.

[2017-01-18 00:10] LunNova commented on #60
We're reusing an old CtClass instance, maybe? Shouldn't happen due to this check https://github.com/nallar/ModPatcher/blob/1.10.2/src/main/java/me/nallar/modpatcher/LaunchClassLoaderUtil.java#L257

[2017-01-18 00:12] LunNova commented on #60
https://github.com/nallar/TickProfiler/issues/57#issuecomment-265155965

I tested a month ago with that setup and it wasn't broken like this, so either a timing/ordering bug (seems likely) or conflict with sponge changes since then.

[2017-01-18 11:50] LunNova commented on #60
Fixed by bf70ac940f0c474234090a6fdb96 + ModPatcher/2316608a59278f7968d14dc581b73

[2017-01-18 11:50] #60 closed, assigned to LunNova

[2017-01-18 12:26] LunNova commented on #59
No, TickProfiler does not have any permission nodes.

By default some commands are only available for /opped users. You can change this in the config file.

[2017-01-19 00:57] Y0ungSandwich commented on #59
Yeah it's just with permissions on sponge OP does nothing and everything is permission based after that

Get Outlook for Android<https://aka.ms/ghei36>

On Wed, Jan 18, 2017 at 7:26 AM -0500, "Ross Allan" <notifications@github.com<mailto:notifications@github.com>> wrote:

Closed #59<https://github.com/nallar/TickProfiler/issues/59>.

—
You are receiving this because you authored the thread.
Reply

[2017-01-19 22:42] LunNova commented on #59
Try changing the settings not to require OP in the config file.

[2017-01-20 05:57] pantheis opened #61 "TickProfiler Error MC 1.10.2"
Having some regular pauses on the server and they are getting annoying. Went looking for a profiler to see if I could diagnose what's causing the problem. When loading TickProfiler-1.10.2.jenkins.24.jar from your Jenkins build server onto the server and starting it, getting the following error as shown in the FML server log below. Any ideas?

http://paste.ubuntu.com/23831914/

[2017-01-20 12:10] LunNova commented on #61
Issue confirmed, caused by ModPatcher changes https://github.com/nallar/ModPatcher/commit/32c1d3cf7b57882f96a28ef2c542b1fe8404235c

[2017-01-20 13:55] LunNova commented on #61
Fixed by e647e6ab61d3d5cb7

[2017-01-20 13:55] #61 closed, assigned to LunNova

[2017-01-21 01:27] pantheis commented on #61
Just wanted to say thank you! Confirmed fixed and this is exactly what I'll need to track down the issues on my server.

[2017-01-23 18:45] LunNova commented on #59
Closing due to combination of "not my problem" (I don't create permission nodes, if your sponge plugin breaks my mod then that's not my fault), and user not trying turning off the config options to require /op.

[2017-01-23 18:45] #59 closed, assigned to LunNova

[2017-01-23 18:46] Y0ungSandwich commented on #59
I did,  doesnt really break it and didn't really want users to have access to tps.  Kind of a bad attitude I'll find another tool thanks.

[2017-01-23 18:47] Y0ungSandwich commented on #59
I did,  doesnt really break it and didn't really want users to have access to tps.  Kind of a bad attitude I'll find another tool thanks.

[2017-01-23 18:49] LunNova commented on #59
You didn't reply to me to let me know that that worked.

I can't add a permissions node without introducing a dependency on sponge which is unacceptable for most users of this mod. If there's a bug here it's that sponge/the permission system you're using for sponge doesn't allow you to configure permissions for mod commands.

[2017-01-23 18:58] LunNova commented on #59
Try adding permissions for `TickProfiler.command.profile` or possibly `tickprofiler.command.profile`. I'm not sure which capitalisation will work or if it's actually case sensitive.

It turns out that sponge automatically creates permission nodes for mod commands:

[2017-02-03 07:25] Gunner76th opened #62 "Request: Appending or seperate files"
One request I would like to make, is to either allow appending to existing profile reports on the server, or to have each profile saved as a separate file and a setting to retain the last X files. This would allow server admins to get a historical snapshot of what is causing problems on our server and possibly help isolate the causes.

Additionally, it would be nice to have the option when running

[2017-02-05 02:32] importnil opened #63 "java.lang.NoClassDefFoundError: org/json/JSONException"
TickProfiler-1.7.10.jenkins.37.jar;

[code]

[2017-02-05 02:41] LunNova commented on #63
Can't replicate.

What's your mod list? Are you using a public mod pack?

Are you using a non-standard server jar (eg MCPC)?

[2017-02-05 04:26] importnil commented on #63
Yes I'm using Thermos B58 (their latest build) with custom net/minecraft/launchwrapper and net/minecraft/server/1.7.10 from here: http://launcher.sashok724.net/download/servers/thermos1.7.10.zip

The reason behind patched Thermos.jar is using it along with our custom launcher that's from the author who patched Thermos.

[2017-02-08 09:00] Slind14 opened #64 "[1.10] Tile Entities not being profiled/showing up"
Hi nallar,
the 1.10.2 version of tick profiler does not seem to capture tile entities at all. Here is a timings report in relation of tickprofilers `profile e 30`.

https://timings.aikar.co/?id=bf54dafc0e9247e88dbdac4aa515b2c8&section=all

[code]

[2017-02-08 09:03] LunNova commented on #64
What version of TickProfiler?

Already had and fixed a similar issue when using sponge.

[2017-02-08 09:06] Slind14 commented on #64
Ahh sorry, let me test the latest version and get back to you.

[2017-02-08 09:20] Slind14 commented on #64
Working with latest version. Sorry.

[2017-02-08 09:20] #64 closed, assigned to LunNova

[2017-02-15 04:27] draeath opened #65 "403 response code to AWS EC2 for ModPatchjer-lib.jar - prevents startup"
As the subject says. I'm attempting to stand up a server with tickprofiler. It blows up during first launch, as your server returns a 403 to the request. I'm able to pull the file from home, so you or a service you run is blocking requests from AWS EC2 instances.

This seems especially odd as this mod is particularly suited for use on servers that might be hosted on cloud platforms, vs ad-hoc in-h

[2017-02-15 04:30] draeath commented on #65
Whoops, wrong repository. I'll create a new issue under the right one...

[2017-02-15 04:30] #65 closed, assigned to nobody

[2017-02-27 23:49] LunNova commented on #63
Put the org.json classes from TP in a library's jar (anything in the libraries folder which is actually loaded in your setup) as a workaround so they can be loaded, or fix your custom patched launcher not to exclude org.json. I can't see any reason why that needs to be classloader excluded.

Not a bug in TickProfiler, nothing I can change to fix this.

[2017-02-28 23:10] importnil commented on #63
Thanks for the reply.

[2017-02-28 23:10] #63 closed, assigned to LunNova

[2017-03-12 11:26] merjilin opened #66 "Unexpected World Change console spam"
Hey, I've been sent by an official of SpongeForge because they've said that TickProfiler is causing some tracking issues. Here's the pastebin: http://pastebin.com/8AyTyx46
I'm using TickProfiler-1.10.2.jenkins.31.jar

[2017-03-19 21:08] Magi1053 commented on #59
For future reference, I was able to get `tickprofiler.command.profile` to work

[2017-04-08 05:59] Puremin0rez opened #67 "Results are empty after running /profile e"
After running a /profile e, the results are left entirely empty.

TPS: 20.0
Single Entity | Time/Tick | %
Chunk | Time/Tick | %
All Entities of Type | Time/Tick | %
Average Entity of Type | Time/tick | Calls

Minecraft 1.10.2, Forge 12.18.3.2254

Log file is attatched.
[fml-server-latest.txt](https://github.com/nallar/TickProfiler/files/907264/fml-server-latest.txt)

[2017-04-08 19:49] LunNova commented on #67
Caused by an incompatibility with Asie's classcachetweaker.

First, make sure you're using the latest version of that in case it's already fixing it. Failing that I need to ask @asiekierka and/or find a workaround.

Can you confirm that removing classcachetweaker allows tickprofiler to work?

[2017-04-08 20:15] asiekierka commented on #67
Any non-stateless IClassTransformer will not function correctly with ClassCacheTweaker, sadly.

[2017-04-09 00:56] Puremin0rez commented on #67
Ah yes, it being ClassCacheTweaker makes a lot of sense since it is quite a hack.

I can confirm that removing it indeed fixes the problem. I'm on the latest version for both ClassCacheTweaker and TickProfiler, so a conflict does indeed still exist.

Thanks, nallar :)

[2017-04-26 23:31] sblectric opened #68 "Crash due to incompatibility with RebornCore due to adding class to signed package"
TickProfiler seems to be looking for javassist.ClassLoaderPool, which causes the server to crash.

Pastebin: https://pastebin.com/G9wChTBw

Forge version 13.20.0.2282

[2017-04-27 06:00] LunNova commented on #68
Caused by: java.lang.SecurityException: class "javassist.ClassLoaderPool"'s
signer information does not match signer information of other classes in
the same package

The classloader in use is actually enforcing signing. It usually doesn't.
ClassLoaderPool isn't part of javassist, it's in that package so it can use
package private parts of it. That's hacky but usually works fine.

On 27 April 2017

[2017-05-06 13:01] #67 closed, assigned to LunNova

[2017-05-06 13:02] LunNova commented on #67
Should now be fixed. Steps to test:

* Update TickProfiler
* Delete ClassCacheTweaker's classCache.dat (probably not necessary, should detect this)
* Start server/client and test profile command

[2017-05-07 17:53] DDzwiedziu commented on #67
I'm getting the same problem, but not with ClassCacheTweaker (unless ~zips~ jars did not contain such class name nor classChache.dat was found). Tried Jenkins versions 31 and 32, both times I get a exception as pasted below (full logs also attached).

Tested in Foolcraft 1.3.2 with custom modifications.

`[19:40:58] [main/INFO] [ModPatcher/]: Transformers: [net.minecraftforge.fml.common.asm.transf

[2017-05-07 19:39] LunNova commented on #67
Error isn't an error, it misleadingly included a stack trace when it shouldn't. Removed that now.

Patch errors later due to javassist trying to get deobfed minecraft classes and instead getting obfuscated classes.

Can you try deleting ModPatcher,jlib from the mods folder, then start the server?

If it still isn't working, can you find the file "libraries/minecraft_stubs.jar" in the server folder

[2017-05-08 11:31] DDzwiedziu commented on #67
Deleting ModPatcher.jlib worked. Thanks

[2017-05-08 22:47] cjm721 commented on #68
Is there a way to disable that verification check?

For me the class loader that is doing it is inside Reborn Core.

[2017-05-10 22:13] cjm721 commented on #41
Think this also needs to be added to the 1.11.2 fix (probably also covered in the same code for 1.8.9).

[2017-05-10 22:33] modmuss50 commented on #68
I believe the issue is that we are both using different versions of java assist. I am using `3.22.0-CR1`, that is 1 version newer than your's. I think if you update it will fix the conflict with RebornCore.

[2017-05-10 22:35] modmuss50 commented on #68
Linking the issue on my tracker for reference: https://github.com/TechReborn/RebornCore/issues/48

[2017-05-10 23:00] LunNova commented on #68
I add a class into the javassist package, which is technically wrong, but the least messy workaround to implement this: https://github.com/nallar/ModPatcher/blob/1.11.2/src/main/java/javassist/ClassLoaderPool.java

Usually LaunchClassLoader doesn't enforce signing (I could be presuming this incorrectly.). I don't add the javassist package as a classloader exclusion either, only a transformer exclu

[2017-05-10 23:02] LunNova commented on #41
Yep. Still haven't gotten around to doing this as I haven't personally needed this feature and nobody has asked for it.

Since you're commenting on this issue, do you need it?

[2017-05-10 23:41] cjm721 commented on #41
Yep, have a server that is using 750MB/h/player when not moving. Also what ever is doing it does not handle dynamic throttling as the lower the window the more packets I am getting  (thinking custom udp or something as usage jumps instead of lowering packet window like tcp would).

In general I wonder how hard it be to write a out of process stream watcher that does it. Would have to load all the

[2017-05-11 07:37] modmuss50 commented on #68
I dont think there is a lot more I can do to fix this on our end. I added javaassist to the exclusions list and that produced this crash: https://gist.github.com/modmuss50/38ef0076ee394cbbcd1fbfda24bbb630

I think the best thing we both could do to fix it would be to repackage javaassist into our own packages. You could also try and move that class out from javaasist but I see how that could be an

[2017-05-11 13:30] LunNova commented on #68
You could stop signing packages in your jar which are from other libraries, which would resolve this. Currently you sign your own code as well as signing your dependencies.

In the long term I should get javassist changed to make the methods I need to override not package private but that will take some time for a new release.

Repackaging would work but adds the overhead of having the same classe

[2017-05-11 17:24] LunNova commented on #68
Didn't fix it, just broke it differently. Oops. :(

[2017-05-11 17:36] modmuss50 commented on #68
I will try and figure out how to exclude it from being signed.

[2017-05-11 17:41] LunNova commented on #68
Please revert the commit adding a classloader exclusion for javassist - I thought you might already be doing that and meant to remove it, adding it definitely won't help. :(

Should have another fix/workaround to try tomorrow if not later tonight.

[2017-05-11 17:43] LunNova commented on #68
Nevermind, you don't need to. Should be able to get it working anyway. Thanks for the help.

[2017-05-12 22:26] LunNova commented on #68
Latest version sort-of fixes this, but it will only work if you rename TickProfiler to something before "R" in the alphabet. (try `_TickProfiler.jar`).

CoreMods are only sorted by file name. Working on another workaround. :/

[2017-05-12 22:43] cjm721 commented on #68
Oh that beings be back to the 1.4.7 tick threading days. Will throw it up on my server in annoyed when get home.

[2017-05-14 13:23] cjm721 commented on #68
Been running with version 15 fine (After adding the _)

[2017-05-14 16:58] LunNova commented on #68
Should now work fine regardless of naming.

[2017-05-14 17:52] LunNova commented on #40
No longer planning to fix this, not supporting 1.7.10 at this point.

[2017-05-14 17:52] #40 closed, assigned to LunNova

[2017-05-17 16:49] arcanefeenix opened #69 "Cancel profiling"
Would be nice to see a way to cancel a profile request that was made. If you mistype the command, you can end up running a profile for a very long time.

[2017-05-17 16:50] #68 closed, assigned to LunNova

[2017-05-22 08:03] LXGaming opened #70 "Profile results are empty"
Minecraft 1.10.2
SpongeForge 2344
TickProfiler 47

Doing profile returns no results, I've tried removing ModPatcher.jlib, and deleting files from the libraries folder which seemed to belong to ModPatcher with no luck.

[2017-05-22 10:55] LunNova commented on #70
Fixed, bug in ModPatcher. https://github.com/MinimallyCorrect/ModPatcher/commit/5d3ae567ac1a803998ef1f5fdee979b239d24d87

Try TickProfiler 48.

[2017-05-22 10:59] LunNova commented on #70
Scratch that, try 49. 48 didn't pick up the new version of ModPatcher due to a caching issue.

[2017-05-22 10:59] #70 closed, assigned to LunNova

[2017-05-23 04:40] LXGaming commented on #70
Just tested and can confirm profile now returns results.

Absolutely awesome, Thank you so much.

[2017-05-23 17:55] sandalle opened #71 "Request: Add Tick Profiler to Curse"
Would you add Tick Profiler to [Curse Mods](https://minecraft.curseforge.com/mc-mods) (now Twitch) so that we may easily add and manage it in modpacks? :)

Some documents to help:
https://github.com/matthewprenger/CurseGradle
https://www.curseforge.com/docs/api
https://github.com/McJty/RFTools/blob/1.11/build.gradle

[2017-05-23 18:56] Shybella commented on #71
I would stay far away from Curse.

[2017-05-23 19:26] LunNova commented on #71
@Shybella why?

I was planning to do this at some point. To be honest the only reason I didn't do it last week is that creating a project there requires a logo and I got distracted after it wouldn't let me skip that. :P

Publishing to curse gives an alternate location to download my mods, and I wouldn't be activating curse rewards (or whatever it's called).

[2017-06-09 22:23] japherwocky commented on #71
I came here to ask for this also.  Curse is really nice for making private mod packs, which need something like this.  (I found this looking for a 1.10 Opis!)

[2017-06-10 02:42] Corvimae opened #73 "Utilization command does not work."
`/profile u` just spits out the help, even if I provide the time and sender arguments. It looks like it's expecting an elements parameter?

[2017-06-10 09:52] #73 closed, assigned to LunNova

[2017-06-12 23:34] CathalCraft opened #74 "Request: Add coordinates to lag spike profiler"
It would be very beneficial to add coordinates to the lag spike profiler, so I can teleport to the coordinate that is causing the lag spike and resolve the issue there.

[2017-06-12 23:39] morfie78 commented on #74
Agreed!  That would be super helpful.

[2017-06-13 07:35] LunNova commented on #74
Can't be done - the lag spike profiler only knows the stack trace of the main thread at the time of the spike.

I don't think that getting from that to being able to blame a specific location in the world is possible.

[2017-06-20 02:26] gabizou commented on #66
@nallar getting this again with other server admins, since TickProfiler is included in some modpacks, we're getting this issue more often as spam, and we can't simply tell people to disable sponge's cause tracker error reporting due to other actual errors going unreported otherwise. That being said, you're still eliminating Sponge's injection to wrap around `ITickable.update()` in `World.updateEnt

[2017-06-20 21:46] #66 closed, assigned to LunNova

[2017-06-20 21:47] Brend-Smits commented on #66
Hurray! Thanks for the fix! I can now install Tickprofiler again :D

[2017-06-20 21:47] LunNova commented on #66
Should now be fixed. Sorry about the delay, I'm afraid you'll be dealing with false reports for some time... :(

[2017-06-20 21:53] LunNova commented on #74
Closing as wontfix. I would like to do this, but I don't think it can be done so there is no point in leaving the issue open forever.

:(

[2017-06-20 21:53] #74 closed, assigned to nobody

[2017-06-20 21:57] morfie78 commented on #74
It's fine, thank you for a great plugin, nonetheless!   Would looking at TickProfiler's lag spike stack traces, and making an event listener (in another plugin) for that event work?  Event listeners will return the location, and then we can use that info to find the location of the issue.  I've successfully done it before for a specific event that was causing lag on my server.

[2017-06-20 23:15] LunNova commented on #71
Done. https://minecraft.curseforge.com/projects/tickprofiler

[2017-06-20 23:15] #71 closed, assigned to LunNova

[2017-06-20 23:17] sandalle commented on #71
I think this means that it won't show up in the Curse launcher for easy including in a modpack. We can still manually add it and point to this profile for permission, thank you. :)

Edit: It's "live" now, thanks! :)

[2017-06-20 23:23] LunNova commented on #71
It's submitted for approval but I don't know how long that will take.

edit: Not very long :)

[2017-06-21 19:05] cjm721 commented on #74
What you are saying would only work if that event had location information. The Stack-trace will tell you what mod's event handler it was in so if that event has location information you could try. If the lagging event is also on priority=highest you will have issues as you have no way to guarantee your code runs first to be able to capture the information.

[2017-06-23 17:12] Baughn commented on #41
I'm up to 1MB/s/player when not moving, see https://www.reddit.com/r/feedthebeast/comments/6j2elh/profiling_bandwidth_usage_on_110_and_up/ ...

I'm about at the point of wanting to write a packet profiler myself, but I'm not really sure where to start. If you like, we can team up.

[2017-06-23 17:51] cjm721 commented on #41
Up until TP has it you can use the Sampler mod . It has a packet tracker that you can run on the client or server. (Suggest client). It's not nearly as good but you can make it work.

Sent from my HTC

----- Reply message -----
From: "Svein Ove Aas" <notifications@github.com>
To: "MinimallyCorrect/TickProfiler" <TickProfiler@noreply.github.com>
Cc: "CJ Miller" <cjmiller721@gmail.com>, "Comment" <c

[2017-06-23 19:44] #41 closed, assigned to LunNova

[2017-06-23 19:45] LunNova commented on #41
Not spent much time testing this, but it seems to work.

[2017-07-30 13:40] LunNova opened #75 "Profile server/world tick events"
@Slind14

@nallar On 1.10 there are no longer so many mods that perform heavy lifting outside the entity and tile entity tick. Unfortunately there are still a few and hence they are unseen by tick profiler. Do you think mod level support would be applicable to implement for these rare cases?

EnderIO would be the main one for example.

![](https://cdn.discordapp.com/attachments/313371711632441344/

[2017-07-30 21:56] DarkBlade177 commented on #75
Just for curiosity, what is this program that you use for profilling ?

[2017-07-30 22:05] Slind14 commented on #75
YourKit. But I would recommend visual VM for CPU profiling. There is not
really any major difference and it is free.

On 30 Jul 2017 23:56, "Lucas Joaquim" <notifications@github.com> wrote:

[2017-07-31 01:47] DarkBlade177 commented on #75
@Slind14 One last question to stop this non-related conversation.

Can i use VisualVM on a vps?
My server is hosted on an ubuntu 16.04

Can i profile even if it is not on my computer?

[2017-08-19 16:43] bdspark opened #76 "TickProfil permission"
Hello, I have heard from someone that your TickProfiling is better than others. It do great job for finding lag. So I want to try it. But I couldn't find any permissions in the wiki and only has commands. Can you please provide permissions for those commands?

Thanks in advance.

[2017-08-19 17:02] LunNova commented on #76
Here's a new wiki page.

https://github.com/MinimallyCorrect/TickProfiler/wiki/Permission-Nodes

[2017-08-19 17:02] #76 closed, assigned to LunNova

[2017-08-23 03:19] MainFreak opened #77 "[Just a question, please close this]"
I noticed that, when used in a modpack on the client, this utility generates a file called "# LibLoader" in the mods folder. So my question is if this file can be used in modpacks or not since Curse does not recognize it as a valid mod. The utility seems to be functional in singleplayer as well so I would really prefer to keep it in my pack.

[2017-08-23 08:23] LunNova commented on #77
That file will be automatically extracted every time you launch with TickProfiler or another mod which uses LibLoader installed. It does not need to be redistributed - it will be automatically created when needed - but you can redistribute it if that makes things easier.

[2017-08-23 08:23] #77 closed, assigned to nobody

[2017-08-23 11:09] MainFreak commented on #77
So I technically can just delete it before uploading the pack to Curse. Thank you very much

[2017-08-23 11:11] LunNova commented on #77
Yes, that will work fine.

[2017-09-04 11:38] LunNova opened #78 "Sampling profiling"
Start up another process
Run https://github.com/jvm-profiling-tools/honest-profiler
Uses `AsyncGetCallTrace` so it is usually more accurate than JVisualVM - no safepoint bias.

Should recommend/require using `-XX:+UnlockDiagnosticVMOptions -XX:+DebugNonSafepoints` JVM args for this?

[2017-09-04 11:39] LunNova opened #79 "Periodic JSON output not correct"
95a252eb62a84ca967d6 broke it. :(

[2017-09-04 11:52] LunNova commented on #75
Rather than adding specific support for these events this will be covered under #78

[2017-09-04 11:52] #75 closed, assigned to LunNova

[2017-09-17 00:56] Pinaz993 opened #80 "Garbage Collection Profiling"
I am right now having a issue in Age of Engineering that smells like a humongous memory leak. It leads to lag spikes every few seconds that I suspect are GC cleaning up after said memory leak. I'd like to be able to profile GC in order to track down what objects are getting generated so rapidly as to cause such a leak. Please and thank you.

[2017-09-19 11:43] LunNova commented on #80
This would be a lot of work to do properly. You'd probably need to start a java agent outside the current process to do it. I'd accept a PR adding this but won't be adding it myself.

Try using jvisualvm.

[2017-09-20 06:38] BytesByBytes opened #81 "Output Profile Result To Pastebin"
It would be handy if there was a option of outputting the results to pastebin.  Once the profile is run it will give a link to the pastebin to look at the results instead of a mass wall of text ingame

[2017-09-23 21:40] rmnaderdev commented on #44
Yes! This would be very nice. I think it is missing info that the old /profile e (everything) used to tell us. I have an issue on one of my servers right now and I can't see what block/TE is giving me trouble.

[2017-09-25 13:07] Warhawker opened #82 "[Request] permissions 1.7.10 Build #37"
Hi, we currently run a 1.7.10 forge modded server. (Feed the beast infinity evolved mod pack) Is it possible to add permission nodes to these commands? Currently only ops may run them, but I have a competent admin team I would like to be able to run as well.

I've done a lot of searching, and hate to make new tickets but it's just too incredibly useful. We are using build #37 for 1.7.10

Thanks in

[2017-09-25 13:11] Warhawker commented on #82
I found a closed case that helped me out.  I haven't used Github much, and just found out how to search closed cases *facepalm*
https://github.com/MinimallyCorrect/TickProfiler/wiki/Permission-Nodes

[2017-09-25 13:11] #82 closed, assigned to nobody

[2017-09-25 17:37] LunNova opened #83 "Web interface"

[2017-09-28 08:16] UnPure opened #84 "[1.12.1] Server is acting weird (Leaking and more)"
Hey there.
While using TickProfiler on my sever, the server is starting to act weird and is producing **TONS** of log entrys about problems. As soon as i remove TickProfiler, its stopping.

**latest.log** https://pastebin.com/b5eDRmkP
**fml-junk-earlystartup.log** http://unpure-gaming.de/~minecraft/fml-junk-earlystartup.log

I had to upload the log to my own server because i dont know about any we

[2017-09-28 08:22] UnPure commented on #84
Ok nevermind. For some reason without TickProfiler that spams just delays.
After the server was running for ~10min. the spam started without TickProfiler.
Something else seems to cause these issues.

[2017-09-28 08:22] #84 closed, assigned to nobody

[2017-09-28 10:55] LunNova commented on #84
Even though it's not caused by TickProfiler, If you do find out what was causing it please do comment here in case someone else runs into the same issue and finds your post.

[![](https://imgs.xkcd.com/comics/wisdom_of_the_ancients.png)](https://xkcd.com/979/)

[2017-09-28 10:58] UnPure commented on #84
@nallar Thats the plan. Currently it seems like the mod CompactMachines is causing this issue. There are a few things that point to that mod. I reported it to the mod author and i'm currently trying to find something together with him. I will write more informations as soon as its clear.
btw i like that image and i know that feeling! :(

[2017-10-31 02:03] sandalle opened #85 "[1.12.2] Tick Profiler 1.12-0.0.1 works, but is not marked as such on Curse"
[Tick Profiler 1.12-0.0.1](https://minecraft.curseforge.com/projects/tickprofiler/files/2482605) works on MC 1.12.2 (Forge Mod Loader 14.23.0.2515), but is not marked as such on Curse disallowing modpacks from using it.

[2017-10-31 10:41] LunNova commented on #85
Fixed, thanks.

[2017-10-31 10:41] #85 closed, assigned to LunNova

[2017-10-31 14:42] sandalle commented on #85
Thank you for the quick turn-around @nallar . :)

[2017-10-31 22:10] tolly765 opened #86 "Horizons server cannot initialize with TickProfiler installed"
Whenever we try to start up our FTB Horizons server (running on SpongeForge version spongeforge-1.12.2-2503-7.0.0-BETA-2710) with TickProfiler enabled, it crashes on the first few seconds of initialising and throws [this into console.](https://pastebin.com/YhYZ59si) This behavior only occurs when TickProfiler is installed on the 1.12 version, and not on 1.10.2 (we have it working flawlessly on our

[2017-10-31 22:12] cjm721 commented on #86
Must be a sponge thing again. I am running default forge for H3 no issues.

[2017-10-31 23:21] tolly765 commented on #86
Further testing in a fresh SpongeForge server (only tickprofiler as an external plugin/mod, everything else was in Horizons III) shows TickProfiler functioning normally. Perhaps there is a discrepancy in the live version.

I’ll let you know if we find something later

[2017-11-01 10:00] LunNova commented on #86
Could be a file permissions issue or something else preventing LibLoader from working. Does Pterodactyl make the mods folder a read only volume?

There should be a file called `# LibLoader.jar` in your mods folder. If there isn't, try manually creating it by extracting `LibLoader.jar` from inside of TickProfiler's jar, then renaming it to `# LibLoader.jar`.

[2017-11-02 22:28] tolly765 commented on #86
I apologise for the delays in a reply, but we have found the following out:

- Pterodactyl does not make the folder read only when the server is running
- We tried your fix with `# LibLoader.jar` but to no avail - same error as before
- The error specifically states that Forge can't lock the base of our container, so I'm not sure what's going on there
- We have other "mixin" mods (mods that don't

[2017-11-02 23:01] cjm721 commented on #86
Running normal JDK and java security permissions?

On Nov 2, 2017 15:28, "Tom Harrison" <notifications@github.com> wrote:

[2017-11-03 06:11] tolly765 commented on #86
Normal JDK and Java security settings

[2017-11-12 21:47] tolly765 commented on #86
Alright, we've been tearing our heads out over this, and we _finally_ got it working. Turns out that it was because TickProfiler was being loaded as an extramod through forge (using parameter `--mods=""` and it did NOT like that at all. Took us having to test over the course of a few days (due to other projects being thrown in the mix as well) but we now know it works fine.

Sorry for keeping you

[2017-11-12 21:47] #86 closed, assigned to LunNova

[2017-11-15 16:40] drakkillen opened #87 "profile Tile entities"
i only see a command for regular entities, but not for tile entities is it missing from the WIKI or is TE not being profiled with this mod?

[2017-11-15 16:42] LunNova commented on #87
`/profile e` includes entities and tile entities.

[2017-11-15 16:42] #87 closed, assigned to LunNova

[2017-11-21 22:01] unstablecraft opened #88 "profile comes back empty [1.12.2]"
21.11 22:55:31 [Server] INFO TPS: 16.163973
21.11 22:55:31 [Server] INFO Single Entity | Time/Tick | %
21.11 22:55:31 [Server] INFO Chunk | Time/Tick | %
21.11 22:55:31 [Server] INFO All Entities of Type | Time/Tick | %
21.11 22:55:31 [Server] INFO Average Entity of Type | Time/tick | Calls

forge: 2531
mc : 1.12.2
spongeforge-1.12.2-2529-7.0.0-BETA-2740.jar
log: https://pastebin.com/wzcrW11y

[2017-11-21 22:06] LunNova commented on #88
[code]

Looks like you've put TickProfiler's sources jar in the mods folder, and the normal jar.

Don't put the sources jar in the mods folder.

[2017-11-21 22:07] unstablecraft commented on #88
will do  ill let you know how it goes

[2017-11-21 22:19] unstablecraft commented on #88
http://prntscr.com/hdisz1 got it one last question

those cords are wierd  it shows {395.95.20}:6 do you know what the actual cord is cus when i tp to 395 95 22 there is nothing

[2017-11-22 09:53] LunNova commented on #88
It's in dimension 6, not the overworld.

[2017-11-22 10:00] unstablecraft commented on #88
ye we figeuerd that out thank you <3 fot the great mod

[2017-11-22 10:03] #88 closed, assigned to LunNova

[2017-11-26 06:10] Electrofried opened #89 "Profiling chunks in latest 1.12.2 compat version"
I am trying to use tick profiler on 1.12.2, it is working fine, but I can't seem to get it to profile just one chunk anymore, although I am sure this worked with past versions. Checked all the options that /profile lists and none of them seem to list the ability to restrict profiling to one chunk.
The wiki lists /profile c (and this is what I remember using) however that gives entity counts now an

[2017-12-14 06:25] mysteryblock opened #90 "Crashes Launcher Immediately."
mine craft 1.12.2
Forge v .555

Crashes so quick a log nor a crash report is generated.

[2018-01-07 07:49] JaSpr commented on #57
We appear to be having this same issue in 1.12.2 but on a non-sponge server.  I updated to TickProfiler-1.12-0.0.2 but it still only outputs results for mobs and entities.

[2018-01-08 19:04] xorinzor commented on #89
Can confirm, `/profile c` is entity count, not Chunk information.

Additionally, there is no way using `/profile e` to tell what chunk contains the most items, or where items are generally coming from.

[2018-01-08 21:58] MissPotato commented on #90
Try updating forge, I'm running it fine.

[2018-01-26 04:18] Drakonas commented on #79
Can someone explain what is not correct? I would really like to be able to have a profiler that saves to disk... but this one doesn't? Seriously, why has this not been fixed yet after 4 months? A print to chat profiler is useless to send data to mod authors.

[2018-01-28 21:52] ArcanoxDragon commented on #89
Can confirm this as well, plus `/profile e` does not accept the `time=` parameter like it should (all values still result in 30 seconds of profiling) and it does not measure TileEntities like the source code implies it should.

[2018-01-29 17:16] Fatmice commented on #89
How did you issue it?
/profile e 60  will profile for 60s
/profile e 60 0 will profile overworld for 60s
/profile e 60 0 10 will profile overworld for 60s and list 10 things

[2018-02-04 22:08] CiaranKennedy opened #91 "[1.10.2] /profile c Not profiling chunks, tries to do an entity count instead"
Hi there, we're using the latest 1.10.2 version of TickProfiler on our servers (jenkins59), but one thing we seem to be missing is the ability to profile single chunks. From the doccumentation it looks like /profile C used to do this, however it does not work in the latest version. Was the ability to profile an individual chunk intentially removed?

I see an open issue for the 1.12 version for the

[2018-02-09 07:13] Boolyman opened #92 "Silly Question"
What do the abbreviations at the top of the /tps columns mean?  I assume the E = Entities, the TE = Tile Entities, and the C = ?  Chunks?  The numbers don't seem to reflect actual in world counts if thats what they mean... like it says I have 700 Entities at the moment?  And 1300 chunks?  Im the only person on this world, how can there be 1300 chunks loaded?

[2018-02-09 08:53] LunNova commented on #92
That's correct.

Forced chunks, spawn area, actual chunks in view of the player can add up fast.

`/profile c` will count entities so you can see what makes up those 700.

[2018-02-09 11:05] LunNova commented on #89
`profile c` is now for entity counting. This is intentional and was changed as part of 95a252eb62a84c which standardised profile command handling.

I was planning to add single chunk profiling as an option for `profile e`, it seemed more logical than a separate command. Unfortunately I haven't had much time to work on TickProfiler recently and have not yet added this.

[2018-02-11 15:05] johnfriedrich commented on #90
When using TickProfiler 0.0.2
https://pastebin.com/SFs9tm9w
Using the version from Curse, as your server seems to be down. Can't compile from source

[2018-02-11 19:35] FireController1847 opened #93 "Error 523"
The jenkins is unavailable.

![](https://i.imgur.com/lnKg40F.png)

[2018-02-11 19:53] LunNova commented on #93
Swapping disks in the server it's hosted on. It'll be back soon.

Downloads are still available from curse: https://minecraft.curseforge.com/projects/tickprofiler

[2018-02-13 07:59] LunNova commented on #93
Fixed.

[2018-02-13 14:43] LunNova commented on #93
Inaccessible again due to internet connection issues, expect to have this fixed in ~6 hours.

[2018-02-13 20:36] FireController1847 commented on #93
Okie

[2018-02-13 21:49] Fudster opened #94 "1.5.2 TickProfiler-1.5.2/build.xml:156: exec returned: 127"
I am trying to compile 1.5.2 I get the following error:

``amp@vps:~/l/TickProfiler-1.5.2$` ant
Buildfile: /home/amp/l/TickProfiler-1.5.2/build.xml

version-provided:

version-not-provided:

initialize-version:

download-forge:

download-maven-ant-tasks:

download-files:

setup:

download-libs:

compile:
   [delete] Deleting directory /home/amp/l/TickProfiler-1.5.2/build/classes
    [mkdir] Create

[2018-02-13 21:52] LunNova commented on #94
The build script will try to download forge to build/forge and mcp to build/forge/mcp.

It has been a very long time since I last built a version this old. I expect the download links it uses are no longer valid.

If it did successfully download, maybe the recompile.sh file in build/forge/mcp needs set executable. (with `chmod +x`)

[2018-02-13 21:56] Fudster commented on #94
I managed to download the libs manually.

Can't seem to find recompile.sh

I even searched for it with:  find . -name recompile.sh

[2018-02-13 21:59] LunNova commented on #94
Try the version of MCP for 1.5.2 from the [minecraft wiki](https://minecraft.gamepedia.com/Programs_and_editors/Mod_Coder_Pack#Downloads).

[2018-02-13 22:02] Fudster commented on #94
Whee does the file go? (mcp751.zip)

[2018-02-13 22:02] LunNova commented on #94
Extract the contents inside the `build/forge/mcp` folder.

[2018-02-13 22:04] Fudster commented on #94
I get the following:

compile:
   [delete] Deleting directory /home/amp/l/TickProfiler-1.5.2/build/classes
    [mkdir] Created dir: /home/amp/l/TickProfiler-1.5.2/build/classes
     [exec] == MCP 7.51 (data: 7.51, client: 1.5.2, server: 1.5.2) ==
     [exec] !! Please install either wine or astyle for source cleanup !!
     [exec] # found ff, ff patches, srgs, name csvs, doc csvs, param csvs, renu

[2018-02-13 22:09] LunNova commented on #94
That probably happens if forge's install script didn't run.

Try running `ant setup`. If that doesn't help, go into build/forge and run install.sh in there yourself.

[2018-02-13 22:19] Fudster commented on #94
amp@vps:~/l/TickProfiler-1.5.2/build/forge$ ./install.sh
================ Forge ModLoader Setup Start ===================
Download of mcp7.51.zip failed md5 check, deleting

[2018-02-13 22:28] Fudster commented on #94
Eh. That last error was a ID10T error. I have this now:

== MCP 7.51 (data: 7.51, client: 1.5.2, server: 1.5.2) ==
"scalac" is not found on the PATH.  Scala files will not be recompiled
FATAL ERROR
Traceback (most recent call last):
  File "/home/amp/l/TickProfiler-1.5.2/build/forge/mcp/runtime/decompile.py", line 50, in decompile
    commands = Commands(conffile, verify=True, no_patch=no_patch)

[2018-02-14 11:11] tolly765 commented on #89
We can wait, take your time nallar 😄

[2018-02-20 15:07] topher2010 opened #95 "Make commands op onky?"
Can you make the commands be only run by op only?  On servers non-op shouldn't have ability to run server commands like that, imho

[2018-02-20 15:10] LunNova commented on #95
Use the `requireOpFor_____Command` options in the configuration file.

[2018-02-20 15:10] #95 closed, assigned to nobody

[2018-03-01 19:14] LunNova commented on #94
If you don't intend to make any changes, the last build for 1.5.2 is here: https://jenkins.nallar.me/job/TickProfiler-1.5.2/

[2018-03-01 19:14] #93 closed, assigned to nobody

[2018-03-01 19:14] #92 closed, assigned to nobody

[2018-03-01 21:40] LunNova opened #96 "TE profiling not working without sponge"
For 1.12 TE profiling doesn't work without sponge due to two classes having the name ITickable.

The patch doesn't use the full class name so it is incorrectly mapped.

[2018-03-01 22:16] #89 closed, assigned to nobody

[2018-03-01 22:16] #96 closed, assigned to LunNova

[2018-03-01 23:32] LunNova commented on #89
Use `/profile e chunk=current` in the latest version

[2018-03-02 03:21] Fudster commented on #94
I tried both wget and downloading the file in browser then uploading...Keep getting this.

Warning : Unable to parse manifest details for './Minecraft/plugins/TickProfiler-1.5.2-1.0.0.44.jar'

[2018-04-03 18:06] Drakonas commented on #79
It would be really nice to have save to disk fixed. It's been another 2 and a half months.

[2018-04-09 01:56] 132ikl opened #97 "Server crashes on startup"
Server crashes on startup when the TickProfiler jar is in use.
SpongeForge: 1.12.2-2611-7.1.0-BETA-2990
Forge Version: 2611

Here's the crash log on startup:
https://paste.ee/p/JK1gK

Same issue with Jenkins build, Curse build, and local build.

[2018-04-26 20:37] Fireztonez opened #98 "Version number not replaced in mcmod.info"
I do a /profile s in my modpack for try to find the sourse of the lags I get, but for some reason, after that command, somes java error message is output in the chat. I imagine that's not intended!!

Here the logs, just after enter that command:
https://gist.github.com/Fireztonez/1a0eb9145b44c776e91c6dbfaff5f0ca

Other things, in the mod list :
![image](https://user-images.githubusercontent.com/19

[2018-04-26 20:47] LunNova commented on #98
That is normal output for `/profile s`. It shows stack traces of the main server thread while there appears to be a lag spike. If you are a developer this will help, it is maybe not very understandable for most users but there is not any good solution for this.

`/profile e` may be what you want.

The version not showing up correctly is a minor bug. It should not cause any problems.

[2018-05-05 13:05] MxtressMyxx opened #99 ""You don't have permission." when running /tps"
I feel dumb for asking this, but after some update to our pack, /tps tosses permission errors if run by the server/ops.

Any clues on what may cause this?

[2018-05-05 17:25] LunNova commented on #99
There's a require op for TPS command option, but there is no option that is supposed to prevent ops   from using the commands.

If you use sponge you may have something using its permission system causing problems. See https://github.com/MinimallyCorrect/TickProfiler/wiki/Permission-Nodes

[2018-05-05 17:58] MxtressMyxx commented on #99
We are using forge recomended branch, so it's not that. So curious as to why the server itself gets the error.

[2018-05-31 02:29] JaSpr opened #100 "[1.12.2-0.0.4] - `/profile c 10` returns Could not process command (NPE)"
When running `/profile c 10`, the following error shows up in chat: `An Unknown error occurred while attempting to run this command` and the following is logged to the server console:
[code]

[2018-05-31 09:37] LunNova commented on #100
https://github.com/MinimallyCorrect/TickProfiler/blob/8656b0db8c886312ab364ecd013ae62e3f3a970e/src/main/java/org/minimallycorrect/tickprofiler/minecraft/profiling/EntityCountingProfiler.java#L34

world here is null, which shouldn't happen.

What mods are you running? Are you using sponge?

[2018-05-31 17:48] JaSpr commented on #100
We are NOT using Sponge.  We are running ATM3, v5.9.6b, which has many, many mods in it.

I can likely get you a full list of mods later this evening.

[2018-05-31 17:53] JaSpr commented on #100
We're using RFTools dimensions and some space mod as well, each of which add dimensions, and I can see from line 33 that `world` is pulled from `worldList`.  It is quite possible that there is an entry in `worldList` that is null, possibly caused by one of these other mods.  I feel that TickProfiler should skip any worlds in the world list that are null.

[2018-06-01 01:27] JaSpr commented on #100
List of all mods: https://gist.github.com/JaSpr/1bc5e70433c88bb891cb6f95fc80fe5c

[2018-06-01 01:36] JaSpr commented on #100
Unfortunately, that error was for `/profile c 10`, and the blank list is for `/profile e 10`.

When I run `/profile e 10` I get the blank response (like in the screenshot in the initial request).  There is absolutely no log saying why it returned empty.

when I run `/profile c 10` I get `An Unknown error occurred while attempting to run this command`, probably because of the NPE in the stack trace

[2018-06-02 00:10] SimplyLime opened #101 "Profile e not outputting any info."
so I'm having issues with tickprofiler on my 1.12.2 server running sponge with the continuum modpack. Running profile e yields the result shown.

https://gyazo.com/82334743bdb79b68ca3e0ff1660748b7

[2018-06-04 19:46] JaSpr commented on #101
We are having the same issue.  Nothing in the logs indicates a problem with profiling, but when we run /profile e 10, we get the following response: ([screenshot](https://i.imgur.com/XbjvTmc.png)).

[2018-06-04 19:47] JaSpr commented on #100
I have updated this ticket to be for the `/profile c` issue, while the `/profile e` issue can be found at #101

[2018-06-04 19:57] LunNova commented on #101
I'll have a look at both of these on Wednesday.

[2018-06-08 03:29] generrosity commented on #100
Interesting - I restarted my server this morning and got this same /profile c "unknown error" / "null pointer" issue. Only change was to remove the Unloader mod. Previously working yesterday while helping someone else diagnose their own server performance issues. Restart has not yet helped.

[2018-06-08 03:33] generrosity opened #102 "CPU percentage"
Hello! Love you mod, and Scalda was very kind to take my suggestion for the Foolcraft3 pack recently set up. Love it and use it that much.

Noticed this when helping someone doing diagnostics; it looked as like "/profile c" was returning 500000.000%  instead of 50.0% - possibly multiplying rather than dividing by 100. Not sure if the 3 decimals were of significant relevance.

[2018-06-25 00:22] Bucky420 commented on #69
Please????

[2018-06-28 00:45] ResqDiver1317 opened #103 "TickProfiler breaks DiscordBridge"
We have a multi server community and have all the chats linked via DiscordBridge (version 2.4.2-all).
I added TickProfiler (version 1.12-0.0.4) and we lost our connection to the discord from this server. My console is telling me that DiscordBridge cannot find the channel ID. When I remove TickProfiler, I have then DiscordBridge goes back to working just fine.

[2018-07-16 07:20] josephyooo opened #104 "Can't download builds or build manually"
Jenkins link is dead and trying to build results in this [output](https://gist.github.com/Polokniko/2a1e81b91350cbd63bbb6991e41dde3b). Any other alternatives to this if this doesn't get fixed?

[2018-07-16 10:56] LunNova commented on #104
The curseforge versions should be fine: https://minecraft.curseforge.com/projects/tickprofiler

I'll look at the jenkins issue soon, nginx seems to have died.

To build without access to my maven repo you'll need to build the projects it depends on and add them to your local maven repo.

[2018-07-16 21:52] LunNova commented on #104
Fixed.

[2018-07-16 21:52] #104 closed, assigned to nobody

[2018-08-02 21:59] travddm opened #105 "1.7.10 README.md states that it's built using "Ant", but clearly uses Gradle"

[2018-08-05 11:05] badgernz commented on #101
Any Progress on this?
I am also having the same issue on my Continuum, Sevtech and Revelations servers.
Running Sponge spongeforge-1.12.2-2705-7.1.0-BETA-3364 & Tried both TickProfiler-1.12-0.0.4 & TickProfiler-1.12-0.0.2

[2018-08-10 15:39] Shybella commented on #100
Any updates on this?

Is there a reason why this wouldn't work with Sponge? I can report this to Sponge.

[2018-08-12 17:06] #105 closed, assigned to nobody

[2018-08-12 17:13] #100 closed, assigned to LunNova

[2018-08-12 17:26] #94 closed, assigned to nobody

[2018-08-12 17:52] #98 closed, assigned to LunNova

[2018-08-12 17:53] LunNova commented on #102
Should be fixed now. `ThreadMxBean.getThreadCpuTime` wasn't guaranteed to reset at 0 when thread CPU time monitoring was enabled, so it could have been dividing thread CPU time over the entire lifetime of the process by the time spent monitoring.

[2018-08-12 17:55] LunNova commented on #90
Still having trouble with this?

[2018-08-13 23:24] Magi1053 commented on #101
I see that there is now a beta release on curseforge for 1.12.2. However I tried downloading that version and this bug still exists.

[2018-08-16 10:00] LunNova commented on #99
Is it possible another mod/plugin on your server which was updated or installed added a command called "/tps" and that is what is giving the error?

Try renaming TickProfiler's tps command using the config file and see if you can use the command with a different name.

[2018-08-16 10:04] LunNova commented on #91
It's implemented again for 1.12 now in this commit: 17952a525012938fb4cc716bb

I need to backport that commit to 1.10.2.

[2018-09-26 18:43] LunNova commented on #101
May be caused by an incompatibility with VanillaFix

[2018-09-26 19:13] LunNova commented on #101
Fixed now... Good thing I didn't specify which Wednesday it'd get fixed on or I'd be extremely late. 🤔

[2018-09-26 19:13] #101 closed, assigned to LunNova

[2018-09-27 07:56] LunNova opened #106 "Make profiling hook more robust"
Other mods are breaking our hook :(

See MinimallyCorrect/TickProfiler/issues/101, scalda/Foolcraft_3/issues/289

[2018-09-27 07:56] #102 closed, assigned to LunNova

[2018-09-27 16:27] jinkhya commented on #101
I just tried that version with my custom modpack and I'm still having an empy /profile e empty sadly :(
I tried forge 2759, tickprofiler 0.0.7 and vanillafix1.0.9-97 and it works fine so it must be something else in my pack still breaking it. It doesn't work on Sevtech either.

[2019-01-02 19:29] kreezxil opened #107 "lagspike profiler doesn't work"
![](https://i.imgur.com/r36vbbZ.png)

says that constantly and after the time has elapsed there's nothing to be seen.

[2019-03-16 23:28] Dimentive commented on #89
@nallar That command doesn’t work.

[2019-03-16 23:28] Dimentive commented on #89
@nallar That command doesn’t work. Has this been changed?

[2019-03-16 23:30] Dimentive commented on #107
Do it in the server console, if you’re playing on a server and you’re the one hosting it.

[2019-03-17 00:19] Electrofried commented on #89
/profile e chunk=current

[2019-03-17 15:00] LunNova commented on #89
always been wrong, i messed up in that comment. 😢

[2019-03-17 15:09] Dimentive commented on #89
No worries.

[2019-03-18 14:07] kreezxil commented on #107
that's where I did it.

On Sat, Mar 16, 2019 at 6:31 PM Dimentive <notifications@github.com> wrote:

[2019-03-18 15:43] Dimentive commented on #107
Your screenshot is of the in-game chat.

Try `/profile s 30` in the console.

[2019-03-18 15:43] Dimentive commented on #107
Your screenshot is of the in-game chat.

Try using `/profile s 30` in the console.

[2019-03-27 16:07] JiDW opened #108 "nallar.me seems to be down"
Hey there!

It looks like your host is down, I can't access Jenkins and when trying to build the source myself, I get an error trying to download something from repo.nallar.me

Thanks for your help!

[2019-03-27 16:13] LunNova commented on #108
Internet connection down, not physically present at the moment to check why.

Should sort it in a few hours

[2019-03-27 16:24] JiDW commented on #108
Thanks!

[2019-03-27 19:31] LunNova commented on #108
Sorted now

[2019-03-27 19:31] #108 closed, assigned to LunNova

[2019-04-06 01:10] Dimentive opened #109 "Entity profile shows no information"
When using /profile e, the entity profile command, I don’t see any results. It only shows percentage signs and my TPS.

Seems to be similar to #55, a very old issue that was apparently fixed, but I’m having the same issue with the latest version of TickProfiler (0.0.7), for Minecraft 1.12.2.

I’m playing [Enigmatica 2](https://minecraft.curseforge.com/projects/enigmatica2), version [1.63a](https:/

[2019-04-11 05:32] tomato3017 commented on #109
Also having the same issue.

`

[01:31:06] [EntityProfiler/INFO] [TickProfiler]:
Running EntityProfiler for 30 seconds
[01:31:36] [EntityProfiler/INFO] [TickProfiler]:
TPS: 20.09933
Single Entity | Time/Tick | %

Chunk | Time/Tick | %

All Entities of Type | Time/Tick | %

Average Entity of Type | Time/tick | Calls

`

[2019-04-14 11:44] LunNova commented on #109
Relates to #106

[2019-05-06 07:44] alfuken commented on #90
Forge - latest recommended. Same issue.

[2019-05-26 21:22] Jocroy opened #110 "Provide 1.7.10 Download"
Since the jenkins page we used to download it until now is down, would it be possible to get a compiled download for 1.7.10? There is a branch here that looks semi-active still. There is at least some need for this in the Greg Tech New Horizons Community.

[2019-06-16 13:03] MeltPels commented on #109
I have the same issue on Direwolf20 2.5.0 (1.12) on SpongeForge.
I also saw another issue with DiscordBridge, I have that plugin as well, but do not experience the same issues. It might be related.
Other plugins are:
Nucleus, LuckPerms, MagiBridge(Discord bridge) and TickProfiler

[2019-08-16 15:40] b0bst3r commented on #110
Yeah same with 1.12 if it can be uploaded to Curse as Jenkins is broken again

[2019-09-30 22:56] EternalOne11 opened #111 "Causing crashes"
[debug (1).log](https://github.com/MinimallyCorrect/TickProfiler/files/3673706/debug.1.log)

[2019-11-14 13:02] WesleyVanNeck commented on #108
@nallar its down again

[2019-11-19 17:53] 123Kappa opened #112 "Any plans on updating this amazing mod to 1.14?"
Any plans on updating this amazing mod to 1.14?

[2019-12-19 17:40] AyOne commented on #108
@nallar still down

[2019-12-23 16:13] LunNova commented on #108
@AyOne it's fixed

[2020-01-06 13:33] LunNova commented on #112
Yes, but can't give a time scale, sorry. Been working on some behind the scenes stuff for dependencies involved in patching.

Want to make it compatible with fabric and forge, just to add complications. :c

[2020-03-08 04:26] Aiidoneus opened #113 "Crash with TickProfiler & Sponge"
Hello,
I was redirected here that Tickprofiler 1.12-0.0.7 is currently incompatible with SpongeForge due to the mixin 0.8 update. If you can, I would very much like to see an update to fix this.

SpongeForge version: spongeforge-1.12.2-2838-7.1.11-RC4004.jar

Forge version: forge-1.12.2-14.23.5.2847-universal.jar

Java version: 1.8.0_201

Operating System: Linux

Crash report:
https://gist.github.

[2020-03-11 22:51] Scratchman commented on #113
I can confirm this. I just spent the last hour trying to find out which mod was doing it. Today i added a few server side mods to the server and it proceeded to crash on start up. My crash report looks the same as the OP's report.

[2020-03-21 01:12] Pangamma commented on #113
I can also confirm this. This is causing issues with the RLCraft modpack.

[2020-03-24 13:51] clienthax commented on #113
https://github.com/MinimallyCorrect/ModPatcher/issues/20

[2020-03-25 01:35] LunNova commented on #113
Try one of the new builds here: https://jenkins.nallar.me/job/TickProfiler/job/1.12/

(not sure if got pushed to curseforge, the plugin which pushes to it's unhappy. Impossible to leave a forgegradle build system alone for half a year and have it still work 😠 )

[2020-03-28 21:12] Aiidoneus commented on #113
New build works. Thanks

[2020-03-28 21:12] #113 closed, assigned to nobody

[2020-04-05 05:54] snowe2010 commented on #106
Seems I commented on the wrong post. Is there any fix in sight for this?

[2020-04-07 18:21] LunNova commented on #106
can't give a timeline even :/

too busy. Making it properly robust involves reworking the way the patching's done.

[2020-06-02 08:01] heyheyhey123243 opened #114 "How do I go about identifying the lag from the log here?"
Hey, I've been having problems with tick lag (keep getting 'server can't keep up' errors in the logs) but I'm not sure how to fix it.

I've downloaded this and lag goggles (helped a bit) to try and find problems.

I've run /profile s - https://paste.ee/p/Y2HdO

I'm not sure how to read these errors and what blocks are causing the problems, simply googling these errors doesn't net me any clear answ

[2020-06-18 06:51] miiichael commented on #112
Should I assume you'll be targetting 1.15 now?

[2020-06-18 07:06] miiichael commented on #114
Try starting with `/profile e` output rather than attempting to make sense of the lagspike detection output. This will tell you specifically which chunks and which entities/entity types are eating your CPU. Also, ensure that you're giving Java a sufficiently large heap size, as one of the symptoms of _almost_ running out memory is that garbage collection becomes more frequent and takes longer.

[2020-06-22 23:16] ghost commented on #109
Going to give a +1 here and bump this up. empty on both ingame as well as when run from dedicated server console.

Versions: (of mods above included in case it's helpful)
Forge: x.2854 (1.12)
Profiler: 0.0.10
Vfix: 1.0.10-150
DiscordRichPresence: 1.3.3 (tested without this, not the issue)

[2020-10-10 22:21] ghost opened #115 "Error downloading libraries on first run"
Causes a "connection refused" error with the current version which results in a crash when the mod starts loading.  The mod refuses to load.

crashtrace:

https://paste.ubuntu.com/p/Y6dzgVHWR3/

[2020-11-09 10:52] 0Chameleon0 opened #116 "Update for newer versions of forge"
Is there plans to update TickProfiler for newer versions of forge? (1.13.1 to 1.16.4)

I am admin for a large community and players are keen to look at the newer modpacks for these versions, we fing TickProfiler and integral moderation tool and hope this will be updated for these versions.

I am currently looking at a pack for forge-1.16.1-32.0.108

[2020-12-03 14:01] LunNova commented on #116
I haven't had the time and can't give an estimate, sorry.

[2021-07-28 18:42] Column01 commented on #116
Any plans to update it? Would really love to have a modern version of the mod 😄

[2022-05-02 03:59] renovate[bot] opened #120 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/MinimallyCorrect/TickProfiler).

## Repository Problems

These problems occurred while renovating this repository. [View logs](https://developer.men